Flask==2.2.2
matplotlib==3.6.3
mysql-connector
numpy
pandas==1.5.2
python-dotenv
Flask-Session
flask-mail
mailjet_rest
pyjwt
scipy==1.10.0
reportlab
exchangelib==4.9.0
jinja2
statsmodels
regex
Werkzeug
setuptools==66.0.0
requests==2.28.2