{% extends "base.html" %}
{% block Unterschrift %}
    <p>Charite zu Berlin, 2010-2021</p>
{% endblock %}

Lol, hier steht was, was keiner lesen kann.

{% block MainContent %}
    <script type="module" src="{{ url_for('static', filename='tags.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='script.js') }}"></script>

    <label for="server_tags" class="form-label">Zu untersuchende Spalten</label>
    <select
            class="form-select"
            id="server_tags"
            name="server_side_tags[]"
            multiple
            data-allow-new="false"
            data-server="/api/tags"
            data-clearEnd="true"
            data-allowClear="true"
    >
        <option disabled hidden value="">Choose a tag...</option>
    </select>
    <br>

    <script>
        async function send_and_deactivate() {
            const start_thinking = $("#Start_Thinking");
            start_thinking.prop("disabled", true);
            // aktiviere spinner
            start_thinking.empty()
            start_thinking.append("Loading")
            start_thinking.append('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>')
            await submitTags();
        }

        function submitTags() {
            // deaktiviere knopf
            let table_one = $("#table_one").is(':checked');
            let grafik_deskriptiv = $("#grafik_deskriptiv").is(':checked');
            let saphiro = $("#saphiro").is(':checked');
            let kolmogorov = $("#kolmogorov").is(':checked');
            let anderson = $("#anderson").is(':checked');
            let qq = $("#qq").is(':checked');
            let linear = $("#linear").is(':checked');
            let korrelation = $("#korrelation").is(':checked');
            let server_tags = $("#server_tags").val()
            let reg_tags_one = $("#reg_tags_one").val()
            let reg_tags_two = $("#reg_tags_two").val()
            let histo = $("#histo").is(':checked');
            let ttest_v = $("#ttest_v").is(':checked');
            let ttest_unv = $("#ttest_unv").is(':checked');
            let utest = $("#utest").is(':checked');
            let will = $("#will").is(':checked');
            let scat =  $("#scat").is(':checked');
            let scat_one = $("#scat_one").val()
            let scat_two = $("#scat_two").val()
            let scat_three = $("#scat_three").val()

            let Mode_unv = document.querySelector('input[name="Mode_unv"]:checked').value;
            let Mode_v = document.querySelector('input[name="Mode_v"]:checked').value;
            let Mode_u =document.querySelector('input[name="Mode_u"]:checked').value;
            let Mode_w =document.querySelector('input[name="Mode_w"]:checked').value;

            console.log($("#serverSideTags").val());
            const xhr = new XMLHttpRequest();
            xhr.open("POST", "/datenanalyse", true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.send(JSON.stringify({
                "server_tags": server_tags,
                "reg_tags_one": reg_tags_one,
                "reg_tags_two": reg_tags_two,
                "table_one": table_one,
                "grafik_deskriptiv": grafik_deskriptiv,
                "saphiro": saphiro,
                "kolmogorov": kolmogorov,
                "anderson": anderson,
                "qq": qq,
                "linear": linear,
                "korrelation": korrelation,
                "histo": histo,
                "ttest_v": ttest_v,
                "ttest_unv": ttest_unv,
                "utest": utest,
                "will": will,
                "scat" : scat,
                "scat_one" : scat_one,
                "scat_two" : scat_two,
                "scat_three" : scat_three,
                "Mode_unv": Mode_unv,
                "Mode_v":Mode_v,
                "Mode_u":Mode_u,
                "Mode_w":Mode_w
                

            }));
            xhr.onreadystatechange = function () {
                if (xhr.readyState !== 4) return;
                console.log(xhr.readyState)
                if (xhr.status !== 200 && xhr.status !== 304) {
                    alert('HTTP error ' + req.status);
                }
                const start_thinking = $("#Start_Thinking");
                // aktiviere knopf
                start_thinking.attr("disabled", false);
                // deaktiviere spinner
                start_thinking.empty()
                start_thinking.append("STATISTIK!")
                window.open('export_statistik');
                console.log("ich öffne...")

            }

        }
    </script>
    {% if RenderParameters["df"] %}
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Daten übernommen</h4>
        </div>
    {% endif %}
    <form id="InputForm" action="" method="post" autocomplete="off">

        <div class="container" style="margin-left: 0">
            <div class="row">
                <div class="col" style="padding: 10px;">
                    <div class="p-3 border bg-light shadow-sm overflow-auto" style="height:400px;">
                        <h3>Statistik</h3>
                        <hr>
                        <div class="accordion accordion-flush" id="op2_accordion_lab">
                            <div class="accordion-item">
                                <h2 class="accordion-header " id="flush-headingOne-limaxinitial">
                                    <button class="accordion-button collapsed bg-light" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#flush-collapseOne-limaxinitial"
                                            aria-expanded="false" aria-controls="flush-collapseOne">
                                        Table One
                                    </button>
                                </h2>
                                <div id="flush-collapseOne-limaxinitial" class="accordion-collapse collapse bg-light"
                                     aria-labelledby="flush-headingOne-limaxinitial"
                                     data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">

                                        <input class="form-check-input" type="checkbox" id="table_one" name="table_one"
                                               value="Hurensohn"><label for="table_one">Table One </label>
                                        <input class="form-check-input" type="checkbox" id="grafik_deskriptiv"
                                               name="grafik_deskriptiv" value="true"><label for="grafik_deskriptiv">Grafik </label>

                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingTwo-limax2">
                                    <button class="accordion-button collapsed bg-light" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo-limax2"
                                            aria-expanded="false" aria-controls="flush-collapseTwo">
                                        Explorative Statistik
                                    </button>
                                </h2>
                                <div id="flush-collapseTwo-limax2" class="accordion-collapse collapse bg-light"
                                     aria-labelledby="flush-headingTwo-limax2" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        <div class="form-group">
                                            <input class="form-check-input" type="checkbox" id="saphiro" name="saphiro"
                                                   value="true"><label for="saphiro">Saphiro-Wilk-Test auf
                                                                                     Normalverteilung</label>
                                            <input class="form-check-input" type="checkbox" id="kolmogorov"
                                                   name="kolmogorov" value="true">
                                            <label for="kolmogorov">Kolmogorov-Smirnov-Test</label>
                                            <input class="form-check-input" type="checkbox" id="anderson"
                                                   name="anderson" value="true">
                                            <label for="anderson">Anderson-Test</label>
                                            <input class="form-check-input" type="checkbox" id="qq" name="qq"
                                                   value="true">
                                            <label for="qq">Q-Q Plot</label>
                                            <input class="form-check-input" type="checkbox" id="histo" name="histo"
                                                   value="true">
                                            <label for="histo">Histogram</label>
                                                   <div style="padding-bottom:50px;" name="großes Div">
                                                    <div style="width: 33%; float:left">
                                                     <select
                                                             class="form-select"
                                                             id="scat_one"
                                                             name="server_side_tags[]"
                                                             data-allow-new="false"
                                                             data-server="/api/tags"
                                                             data-clearEnd="true"
                                                             data-allowClear="true"
                                                     >
                                                         <option disabled hidden value="">Choose a tag...</option>
                                                     </select>
                                                    </div>
                                                    <div style="width: 30%; float:left">
                                                     <select
                                                             class="form-select"
                                                             style="width: 33%;"
                                                             id="scat_two"
                                                             name="server_side_tags[]"
                                                             data-allow-new="false"
                                                             data-server="/api/tags"
                                                             data-clearEnd="true"
                                                             data-allowClear="true"
                                                     >
                                                         <option disabled hidden value="">Choose a tag...</option>
                                                     </select> 
                                                 </div>
                                                 <div style="width: 33%; float:left" data-toggle="tooltip"
                                                 data-placement="right"
                                                 title="Nach diesem Wert wird farblich getrennt"
                                                 animation="true" html="true">
                                                    <select
                                                            class="form-select"
                                                            style="width: 30%;"
                                                            id="scat_three"
                                                            name="server_side_tags[]"
                                                            data-allow-new="false"
                                                            data-server="/api/tags"
                                                            data-clearEnd="true"
                                                            data-allowClear="true"
                                                    >
                                                        <option disabled hidden value="">Choose a tag...</option>
                                                    </select> 
                                                </div>
                                                     </div>
                                                     <input class="form-check-input" type="checkbox" id="scat" name="scat"
                                                     value="true">
                                            <label for="scat" data-toggle="tooltip"
                                            data-placement="right"
                                            title="Scatterplot aus den oberen drei Spalten."
                                            animation="true" html="true">Scatterplot</label>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingthree-limax3">
                                    <button class="accordion-button collapsed bg-light" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#flush-collapsethree-limax3"
                                            aria-expanded="false" aria-controls="flush-collapsethree-limax3">
                                        Statistische Tests
                                    </button>
                                </h2>
                                <div id="flush-collapsethree-limax3" class="accordion-collapse collapse bg-light"
                                     aria-labelledby="flush-headingthree-limax3"
                                     data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        <div class="form-group">
                                            <input class="form-check-input" type="checkbox" id="linear" name="linear"
                                                   value="true"><label for="linear">Lineare Regression</label>
                                            
                                            <label for="serverSideTags" class="form-label">Wähle einen Werte</label>
                                            <div style="padding-bottom:30px;" name="großes Div">
                                           <div style="width: 30%; float:left">
                                            <select
                                                    class="form-select"
                                                    id="reg_tags_one"
                                                    name="server_side_tags[]"
                                                    data-allow-new="false"
                                                    data-server="/api/tags"
                                                    data-clearEnd="true"
                                                    data-allowClear="true"
                                            >
                                                <option disabled hidden value="">Choose a tag...</option>
                                            </select>
                                           </div>
                                           <div style="width: 30%; float:left">
                                            <select
                                                    class="form-select"
                                                    style="width: 30%;"
                                                    id="reg_tags_two"
                                                    name="server_side_tags[]"
                                                    data-allow-new="false"
                                                    data-server="/api/tags"
                                                    data-clearEnd="true"
                                                    data-allowClear="true"
                                            >
                                                <option disabled hidden value="">Choose a tag...</option>
                                            </select> 
                                        </div>
                                            </div>
                                            <br>
                                            <input class="form-check-input" type="checkbox" id="korrelation"
                                                   name="korrelation" value="true">
                                            <label for="korrelation">Korrelationskoeffizient</label>
                                            <input class="form-check-input" type="checkbox" id="ttest_v" name="ttest_v"
                                                   value="true" onchange="showInputField('ttest_v','ttest_v_field')">
                                            <label for="ttest_v" data-toggle="tooltip"
                                                   data-placement="right"
                                                   title="Der t-Test für abhängige Stichproben testet zweiseitig, ob die Mittelwerte zweier abhängiger Stichproben verschieden sind."
                                                   animation="true" html="true">T-Test verbunden</label>
                                                   <span id="ttest_v_field" class='hidden-on-default border_box' style="display:none;">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="Mode_v" id="zweiseitig_v" value="zweiseitig" checked>
                                                        <label class="form-check-label" for="zweiseitig_v">
                                                            Zweiseitig
                                                        </label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="Mode_v" id="links_v" value="links">
                                                        <label class="form-check-label" for="links_v">
                                                            Links
                                                        </label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="Mode_v" id="rechts_v" value="rechts">
                                                        <label class="form-check-label" for="rechts_v">
                                                            Rechts
                                                        </label>
                                                    </div>
                                                </span>
                                            <input class="form-check-input" type="checkbox" id="ttest_unv" name="log"
                                                   value="true" onchange="showInputField('ttest_unv','ttest_unv_field')">
                                            <label for="ttest_unv" data-toggle="tooltip"
                                            data-placement="right"
                                            title="Der t-Test für unabhängige Stichproben testet zweiseitig, ob die Mittelwerte zweier abhängiger Stichproben verschieden sind."
                                            animation="true" html="true">T-Test unverbunden</label> 
                                                    <span id="ttest_unv_field" class='hidden-on-default border_box' style="display:none;">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="radio" name="Mode_unv" id="zweiseitig_unv" value="zweiseitig" checked>
                                                            <label class="form-check-label" for="zweiseitig_unv">
                                                                Zweiseitig
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="radio" name="Mode_unv" id="links_unv" value="links">
                                                            <label class="form-check-label" for="links_unv">
                                                                Links
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="radio" name="Mode_unv" id="rechts_unv" value="rechts">
                                                            <label class="form-check-label" for="rechts_unv">
                                                                Rechts
                                                            </label>
                                                        </div>
                                                    </span>
                                            <input class="form-check-input" type="checkbox" id="utest" name="utest"
                                                   value="true" onchange="showInputField('utest','utest_field')">
                                            <label for="utest" data-toggle="tooltip"
                                                   data-placement="right"
                                                   title="Please select a Boolean and a Number"
                                                   animation="true" html="true">Mann-Whitney-U-Test</label>
                                                   <span id="utest_field" class='hidden-on-default border_box' style="display:none;">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="Mode_u" id="zweiseitig_u" value="zweiseitig" checked>
                                                        <label class="form-check-label" for="zweiseitig_u">
                                                            Zweiseitig
                                                        </label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="Mode_u" id="links_u" value="links">
                                                        <label class="form-check-label" for="links_u">
                                                            Links
                                                        </label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="Mode_u" id="rechts_u" value="rechts">
                                                        <label class="form-check-label" for="rechts_u">
                                                            Rechts
                                                        </label>
                                                    </div>
                                                </span>
                                            <input class="form-check-input" type="checkbox" id="will" name="will"
                                                   value="true" onchange="showInputField('will','will_field')">
                                            <label for="will" data-toggle="tooltip"
                                                   data-placement="right"
                                                   title="Please select a Boolean and a Number"
                                                   animation="true" html="true">Wilcoxon</label>
                                                   <span id="will_field" class='hidden-on-default border_box' style="display:none;">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="Mode_w" id="zweiseitig_w" value="zweiseitig" checked>
                                                        <label class="form-check-label" for="zweiseitig_w">
                                                            Zweiseitig
                                                        </label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="Mode_w" id="links_w" value="links">
                                                        <label class="form-check-label" for="links_w">
                                                            Links
                                                        </label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="Mode_w" id="rechts_w" value="rechts">
                                                        <label class="form-check-label" for="rechts_w">
                                                            Rechts
                                                        </label>
                                                    </div>
                                                </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn btn-secondary" type="button" value="STATISTIK!" onclick="send_and_deactivate()"
                    id="Start_Thinking" name="Start_Thinking">STATISTIK!
            </button>
        </div>
    </form>
{% endblock %}

  




