{% extends "base.html" %}
{% block MainContent %}

<h1>Impressum</h1>

<div class="container py-3 mb-4 bg-light rounded-1 shadow-sm">
    <div class="p-3 mb-4 lc-block">
        <div class="lc-block">
            <h2>Angaben gemäß § 5 TMG:</h2>
            <p>Charité - Universitätsmedizin Berlin<br></p>
            <h3>Postanschrift:</h3>
            <p>Charitéplatz 1<br>10117 Berlin<br></p>
            <h3>Kontakt:</h3>
            <p>Telefon: +49 30 450 - 50<br>E-Mail: webmaster(at)charite.de</p>
            <p></p><h3>Umsatzsteuer-Identifikationsnummer</h3>
            <p>DE 228847810<br></p>
        </div> 
    </div>
</div> 

<div class="container py-3 mb-4 bg-light rounded-1 shadow-sm">
    <div class="p-3 mb-4 lc-block">
        <div class="lc-block">
            <p></p><h2>Hinweise zur Website</h2>
            <p></p><h3>Verantwortlich für sämtliche Inhalte ist:</h3>
            <p>Hannes Freitag
            <br>Alex Wedding Strasse 3,
            <br>Appartment 100,
            <br>10178 Berlin<br></p>
            <p>hannes.freitag(at)charite.de</p>
            <p></p><h2>Information gemäß § 36 VSBG</h2>
            <p>Gemäß § 36 VSBG (Verbraucherstreitbeilegungsgesetz – Gesetz über die alternative Streitbeilegung in Verbrauchersachen) erklärt der Betreiber dieser Website:</p>
            <p>Wir sind weder bereit noch verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.</p>
        </div>
    </div>
</div>
{%endblock%}