{% extends "base.html" %}
{% block Unterschrift %}
  <p>Charite zu Berlin, 2010-2021</p>
{%endblock%}

Lol, hier steht was was keiner lesen kann

{% block MainContent %}
<script type="module" src="{{ url_for('static', filename='tags.js')}}"></script>
<script type="module" src="{{ url_for('static', filename='script.js')}}"></script>

<label for="serverSideTags" class="form-label">Zu Untersuchende Spalten</label>
            <select
              class="form-select"
              id="server_tags"
              name="server_side_tags[]"
              multiple
              data-allow-new="false"
              data-server="/api/tags"
              data-clearEnd="true"
              data-allowClear="true"
            >
              <option disabled hidden value="">Choose a tag...</option>
            </select>
<br>


<script>
function submitTags(){
  // getting the element's value
  let table_one = $("#table_one").is(':checked');
  let grafik_deskriptiv = $("#grafik_deskriptiv").is(':checked');
  let saphiro = $("#saphiro").is(':checked');
  let kolmogorov = $("#kolmogorov").is(':checked');
  let anderson = $("#anderson").is(':checked');
  let qq = $("#qq").is(':checked');
  let linear = $("#linear").is(':checked');
  let log = $("#log").is(':checked');
  let korrelation = $("#korrelation").is(':checked');
  let server_tags = $("#server_tags").val()
  let reg_tags_one = $("#reg_tags_one").val()
  let reg_tags_two = $("#reg_tags_two").val()
  let histo = $("#histo").is(':checked');
  
  
  console.log($("#serverSideTags").val());
  const xhr = new XMLHttpRequest();
  xhr.open("POST", "/datenanalyse_admin", true);
  xhr.setRequestHeader('Content-Type', 'application/json');
  xhr.send(JSON.stringify({
    "server_tags":server_tags,"reg_tags_one":reg_tags_one,"reg_tags_two":reg_tags_two,"table_one": table_one,
    "grafik_deskriptiv": grafik_deskriptiv, "saphiro":saphiro,"kolmogorov":kolmogorov,
    "anderson":anderson,"qq":qq , "linear":linear,"log":log, "korrelation":korrelation, "histo":histo
  }));
  xhr.onreadystatechange = function(){
    if (xhr.readyState !== 4) return;
    if (xhr.status !== 200 && xhr.status !== 304) {
        alert('HTTP error ' + req.status);
    }}
    console.log(xhr.responseText);//this is your response
    window.sessionStorage['response'] = xhr.responseText;
    window.open('export_statistik');//The data is accessible through sessionStorage.
}
</script>
{% if RenderParameters["df"] %}
   <div class="alert alert-success" role="alert">
      <h4 class="alert-heading">Daten übernommen</h4>
   </div>
{%endif%}
<form id="InputForm" action="" method="post" autocomplete="off">
  
  <div class="container" style="margin-left: 0">
  <div class="row">
     <div class="col" style="border: 1px solid ,padding = 10p;">
        <div class="p-3 border bg-light shadow-sm overflow-auto" style="height:400px;">
           <h3>Statistik</h3>
           <hr>
           <div class="accordion accordion-flush" id="op2_accordion_lab">
            <div class="accordion-item">
               <h2 class="accordion-header " id="flush-headingOne-limaxinitial">
                  <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne-limaxinitial" aria-expanded="false" aria-controls="flush-collapseOne">
                  Deskriptiv
                  </button>
               </h2>
               <div id="flush-collapseOne-limaxinitial" class="accordion-collapse collapse bg-light" aria-labelledby="flush-headingOne-limaxinitial" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                     
                        <input class="form-check-input" type="checkbox" id="table_one" name="table_one" value="Hurensohn"><label for="table_one">Table One </label> 
                        <input class="form-check-input" type="checkbox" id="grafik_deskriptiv" name="grafik_deskriptiv" value="true"><label for="grafik_deskriptiv">Grafik </label> 
                    
                  </div>
               </div>
            </div>
            <div class="accordion-item">
               <h2 class="accordion-header" id="flush-headingTwo-limax2">
                  <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo-limax2" aria-expanded="false" aria-controls="flush-collapseTwo">
                  Normalverteilung
                  </button>
               </h2>
               <div id="flush-collapseTwo-limax2" class="accordion-collapse collapse bg-light" aria-labelledby="flush-headingTwo-limax2" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                     <div class="form-group">
                      <input class="form-check-input" type="checkbox" id="saphiro" name="saphiro" value="Hurensohn"><label for="saphiro">Saphiro Wilkoson Test</label> 
                      <input class="form-check-input" type="checkbox" id="kolmogorov" name="kolmogorov" value="true"><label for="kolmogorov">Kolmogorov-Smirnov Test</label> 
                      <input class="form-check-input" type="checkbox" id="anderson" name="anderson" value="true"><label for="anderson">Anderson Test</label>
                      <input class="form-check-input" type="checkbox" id="qq" name="qq" value="true"><label for="qq">Q-Q Plot</label>
                      <input class="form-check-input" type="checkbox" id="histo" name="histo" value="true"><label for="histo">Histogram</label> 
                     </div>
                     
            
                  </div>
               </div>
            </div>
            <div class="accordion-item">
               <h2 class="accordion-header" id="flush-headingthree-limax3">
                  <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsethree-limax3" aria-expanded="false" aria-controls="flush-collapsethree-limax3">
                  Explorativ
                  </button>
               </h2>
               <div id="flush-collapsethree-limax3" class="accordion-collapse collapse bg-light" aria-labelledby="flush-headingthree-limax3" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                     <div class="form-group">
                        <input class="form-check-input" type="checkbox" id="linear" name="linear" value="true"><label for="linear">Lineare Regression</label>
                        <label for="serverSideTags" class="form-label">Wähle einen Werte</label>
                                    <select
                                    class="form-select"
                                    id="reg_tags_one"
                                    name="server_side_tags[]"
                                    data-allow-new="false"
                                    data-server="/api/tags"
                                    data-clearEnd="true"
                                    data-allowClear="true"
                                    width = "30%"
                                    >
                                    <option disabled hidden value="">Choose a tag...</option>
                                    </select>
                        <br>
      
                                    <select
                                    class="form-select"
                                    width = "30%"
                                    id="reg_tags_two"
                                    name="server_side_tags[]"
                                    data-allow-new="false"
                                    data-server="/api/tags"
                                    data-clearEnd="true"
                                    data-allowClear="true"
                                    >
                                    <option disabled hidden value="">Choose a tag...</option>
                                    </select>
                        <input class="form-check-input" type="checkbox" id="log" name="log" value="true"><label for="log">Logistische Regression</label>
                        <input class="form-check-input" type="checkbox" id="korrelation" name="korrelation" value="true"><label for="korrelation">korrelations Koeffizent</label>
                     </div>
                  </div>
               </div>
            </div>
            </div>
      </div>
           
        </div>
     </div>
     
     
     

<button class="btn btn-secondary" type="button" value ="STATISTIK!" onclick ="submitTags()"  name="Import">STATISTIK!</button>

<!-- https://www.w3docs.com/snippets/html/how-to-embed-pdf-in-html.html#:~:text=The%20easiest%20way%20to%20put,PDF%20file%20to%20the%20element. -->

</form>
  <!--
<form>
<div class="container overflow-hidden" style="margin-left: 0">
  <div class="row gy-3">
    <div class="col-6">
      <div class="p-3 border bg-light shadow-sm overflow-auto" style="height:400px;">Quantitative Eingabe</div>
    </div>
    <div class="col-6">
      <div class="p-3 border bg-light shadow-sm overflow-auto" style="height:400px;">Quantitative Ausgabe</div>
    </div>
    <div class="col-6">
      <div class="p-3 border bg-light shadow-sm overflow-auto" style="height:400px;">Qualitative Eingabe</div>
    </div>
    <div class="col-6">
      <div class="p-3 border bg-light shadow-sm overflow-auto" style="height:400px;">Qualitative Ausgabe</div>
    </div>
  </div>
</div>
<hr>
<label for="sapidimport">Daten analysiere</label>
  <button class="btn btn-secondary" name = "analysebutton">Analysieren</button>
</form>
-->


  {%endblock%}

  




