

{% extends "base.html" %} {% block Unterschrift %}
<p>Charite zu Berlin, 2010-2021</p>
{%endblock%} {% block MainContent %}
<div class = "container">
</div class ="box"> 
<h3>Datenausgabe</h3>

 
<form action="" method="post" autocomplete="off">
  <div class="container" style="margin-left: 0">
    <div class="row row-cols-1 row-cols-lg-3 overflow-auto border" style="height:400px;">
      <div class="col-6 " style="border: 1px solid ,padding = 10px;">
        <div class="p-3 border bg-light shadow-sm overflow-auto" style="height:400px;">
          <h3>Stammdaten</h3>
          <div class="form-group">
            <input class="form-check-input" type="checkbox" id="pat_id_check" name="pat_id_check" value="1" onchange="showInputField('pat_id_check','pat_id_field')">
            <label>Patienten ID</label>
            <span id="pat_id_field" class='hidden-on-default' style="display:none;">
              <input class="form-control" type="int" name="pat_id" id="pat_id">
            </span>
          </div>
          <br>
          <div class="form-group">
           
            <input class="form-check-input" type="checkbox" id="geburtcheck" name="geburtcheck" value="1" onchange="showInputField('geburtcheck','geburtfield')">
            <label>Geburtsdatum</label>
            <br>
            <span id="geburtfield" class='hidden-on-default' style="display:none;">
              <label class="form-labels">Von</label>
              <input class="form-control" type="date" name="von_geburt" id="von_geburt">
              <label class="form-labels">Bis</label>
              <input class="form-control" type="date" id="bis_geburt" name="bis_geburt">
            </span>
          </div>
          <br>
          <div class="form-group">
            
            <input class="form-check-input" type="checkbox" id="sexcheck" name="sexcheck" value="1" onchange="showInputField('sexcheck','sexfield')">
            <label class="form-check-label">Geschlecht</label>
            <br>
            <span id="sexfield" class='hidden-on-default' style="display:none;">
              <input class="form-check-input" type="checkbox" value ="Männlich" name = "männlichcheck" id="checkMale">
              <label for="checkMale">Männlich</label>
              <input class="form-check-input" type="checkbox" value="Weiblich" name ="weiblichcheck" id="checkFemale">
              <label for="checkFemale">Weiblich</label>
              <input class="form-check-input" type="checkbox" value="Divers" name="diverscheck" id="checkDiv">
              <label for="checkDiv">Divers</label>
            </span>
          </div>
          <br>
        </div>
      </div>
      <div class="col-6" style="border: 1px solid ,padding = 10p;">
        <div class="p-3 border bg-light shadow-sm overflow-auto" style="height:400px;">
          <h3>Diagnose</h3>
          <hr>
          <div class="form-group">
            
            <input class="form-check-input" type="checkbox" id="diagnose_code_check" name="diagnose_code_check" value="1" onchange="showInputField('diagnose_code_check','diagnose_code_field')">
            <label>Diagnose Codes</label>
            <br>
            <span id="diagnose_code_field" class='hidden-on-default' style="display:none;">
              <label class="form-labels">Code</label>
              <input class="form-control" type="text" name="diagnosis1" id="diagnosis1">
              <label class="form-labels">Code</label>
              <input class="form-control" type="text" name="diagnosis2" id="diagnosis2">
            </span>
          </div>
          <div class="form-group">
            
            <input class="form-check-input" type="checkbox" id="diagnosis_date_check" name="diagnosis_date_check" value="1" onchange="showInputField('diagnosis_date_check','diagnosis_date_field')">
            <label>Datum Erstdiagnose</label>
            <br>
            <span id="diagnosis_date_field" class='hidden-on-default' style="display:none;">
              <label class="form-labels">Von</label>
              <input class="form-control" type="text" name="von_diagnosis_date">
              <label class="form-labels">Bis</label>
              <input class="form-control" type="text" name="bis_diagnosis_date">
            </span>
          </div>
        </div>
      </div>
      <div class="col-6" style="border: 1px solid ,padding = 10p;">
        <div class="p-3 border bg-light shadow-sm overflow-auto" style="height:400px;">
          <h3>TNM-Klassifikation</h3>
          <hr>
          <div class="form-group">
            <label for="formGroupExampleInput">Example label</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput2">Another label</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput">Example label</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput">Example label</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput">Example label</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput">Example label</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput">Example label</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput">Example label</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput">Example label</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
          </div>
        </div>
      </div>
      <div class="w-100 gy-4"></div>
      <div class="col-6" style="border: 1px solid ,padding = 10p;">
        <div class="p-3 border bg-light shadow-sm overflow-auto" style="height:400px;">
          <h3>Irgendwas anderes</h3>
          <hr>
          <div class="form-group">
            <label for="formGroupExampleInput">Example label</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput2">Another label</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput">Example label</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput">Example label</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput">Example label</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput">Example label</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput">Example label</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput">Example label</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput">Example label</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
          </div>
        </div>
      </div>
      <div class="col-6" style="border: 1px solid ,padding = 10p;">
        <div class="p-3 border bg-light shadow-sm overflow-auto" style="height:400px;">
          <h3>Irgendwas anderes 2</h3>
          <hr>
          <div class="form-group">
            <label for="formGroupExampleInput">Example label</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput2">Another label</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput">Example label</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput">Example label</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput">Example label</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput">Example label</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput">Example label</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput">Example label</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput">Example label</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
          </div>
        </div>
      </div>
      <div class="col-6" style="border: 1px solid ,padding = 10p;">
        <div class="p-3 border bg-light shadow-sm overflow-auto" style="height:400px;">
          <h3>Irgendwas anderes 3</h3>
          <hr>
          <div class="form-group">
            <label for="formGroupExampleInput">Example label</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput2">Another label</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput">Example label</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput">Example label</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput">Example label</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput">Example label</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput">Example label</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput">Example label</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput">Example label</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="col-6" style="width:100%;">
      <div class="p-3 border bg-light shadow-sm overflow-auto" style="height:400px;">
        <h3>Datenausgabe</h3>
        {%if htmltext%}{{htmltext}}
        {%endif%}
      </div>
    </div>
    <hr>
    <input class="btn btn-secondary" type="submit" value="Daten ausgeben" name = "datenausgabe">
    <input class="btn btn-secondary" type="reset">
    {%if htmltext%}
    <div class="form-group">
      <input class="btn btn-primary" value="Exportieren" name="export" onclick="location.href='{{url_for('export_to_csv')}}';">
    </div>
    {%endif%}
  </div>
</form>
</div>
{% if RenderParameters["error"] %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Fehler:</strong> {{ RenderParameters["error"] }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span> 
  </button>
</div>
{%if overwrite %}
<input class="btn btn-secondary" type="submit" value="ueberschreiben">
{% endif %}
{% endif %}
{% if RenderParameters["success"] %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Erfolg:</strong> {{RenderParameters["success"]}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{%endif%}
<form class="form-inline" method="post">
  <label for="sapidimport">Daten analysiere</label>
  <button class="btn btn-secondary" type="submit" name = "analysebutton">Analysieren</button>
</form>
{%endblock%}