<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        {% extends "base.html" %} {% block Unterschrift %}
        <p>Charite zu Berlin, 2010-2021</p>
        {%endblock%} {% block MainContent %}
        <div class="container"></div>
        <h3>Datenausgabe</h3>
        <form action="" autocomplete="off" method="post">
            <div class="container" style="margin-left: 0;">
                <div class="row row-cols-1 row-cols-lg-3 overflow-auto border" style="height: 400px;">
                    <div class="col-6" style="border: 1px solid, padding = 10px;">
                        <div class="p-3 border bg-light shadow-sm overflow-auto" style="height: 400px;">
                            <h3>Stammdaten</h3>
                            <hr />
                            <div class="form-group">
                                <input class="form-check-input" id="pat_id_check" name="pat_id_check" onchange="showInputField('pat_id_check','pat_id_field')" type="checkbox" value="1" />
                                <label for="pat_id_check">Patienten ID</label>
                                <span class="hidden-on-default border_box" id="pat_id_field" style="display: none;">
                                    <input class="form-control" id="pat_id" name="pat_id" type="int" />
                                </span>
                            </div>
                            
                            <div class="form-group">
                                <input class="form-check-input" id="geburtcheck" name="geburtcheck" onchange="showInputField('geburtcheck','geburtfield')" type="checkbox" value="1" /> <label for="geburtcheck">Geburtsdatum</label>
                                <span class="hidden-on-default border_box" id="geburtfield" style="display: none;">
                                    <label class="form-labels">Von</label> <input class="form-control" id="von_geburt" name="von_geburt" type="date" /> <label class="form-labels">Bis</label>
                                    <input class="form-control" id="bis_geburt" name="bis_geburt" type="date" />
                                </span>
                            </div>
                            
                            <div class="form-group">
                                <input class="form-check-input" id="sexcheck" name="sexcheck" onchange="showInputField('sexcheck','sexfield')" type="checkbox" value="1" /> <label for="sexcheck" class="form-check-label">Geschlecht</label>
                                <span class="hidden-on-default border_box" id="sexfield" style="display: none;">
                                    <input class="form-check-input" id="checkMale" name="männlichcheck" type="checkbox" value="Männlich" /> <label for="checkMale">Männlich</label>
                                    <input class="form-check-input" id="checkFemale" name="weiblichcheck" type="checkbox" value="Weiblich" /> <label for="checkFemale">Weiblich</label>
                                    <input class="form-check-input" id="checkDiv" name="diverscheck" type="checkbox" value="Divers" /> <label for="checkDiv">Divers</label>
                                </span>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-6" style="border: 1px solid, padding = 10p;">
                        <div class="p-3 border bg-light shadow-sm overflow-auto" style="height: 400px;">
                            <h3>Diagnose</h3>
                            <hr />
                            <div class="form-group">
                                <input class="form-check-input" id="diagnose_code_check" name="diagnose_code_check" onchange="showInputField('diagnose_code_check','diagnose_code_field')" type="checkbox" value="1" />
                                <label for="diagnose_code_check" >Diagnose Codes</label>
                                <span class="hidden-on-default border_box" id="diagnose_code_field" style="display: none;">
                                    <label class="form-labels">Code</label> <input class="form-control" id="diagnosis1" name="diagnosis1" type="text" /> <label class="form-labels">Code</label>
                                    <input class="form-control" id="diagnosis2" name="diagnosis2" type="text" />
                                </span>
                            </div>
                            <div class="form-group">
                                <input class="form-check-input" id="diagnosis_date_check" name="diagnosis_date_check" onchange="showInputField('diagnosis_date_check','diagnosis_date_field')" type="checkbox" value="1" />
                                <label for="diagnosis_date_check">Datum Erstdiagnose</label>
                                <span class="hidden-on-default border_box" id="diagnosis_date_field" style="display: none;">
                                    <label class="form-labels">Von</label> <input class="form-control" name="von_diagnosis_date" type="date" /> <label class="form-labels">Bis</label>
                                    <input class="form-control" name="bis_diagnosis_date" type="date" />
                                </span>
                            </div>
                            <div class="form-group">
                                <input class="form-check-input" id="primary_location_check" name="primary_location_check" onchange="showInputField('primary_location_check','primary_location_field')" type="checkbox" value="1" />
                                <label for="primary_location_check" class="form-check-label">Primärlokalisation</label>
                                <span class="hidden-on-default, border_box" id="primary_location_field" style="display: none;">
                                    <input class="form-check-input" id="Rektum_check" name="Rektum_check" type="checkbox" value="Rektum" /> <label for="Rektum_check">Rektum</label>
                                    <input class="form-check-input" id="Sigma_check" name="Sigma_check" type="checkbox" value="Sigma" /> <label for="Sigma_check">Sigma</label>
                                    <input class="form-check-input" id="Descendens_check" name="Descendens_check" type="checkbox" value="Descendens" /> <label for="Descendens_check">Descendens</label>
                                    <input class="form-check-input" id="Transversum_check" name="Transversum_check" type="checkbox" value="Transversum" /> <label for="Transversum_check">Transversum</label>
                                    <input class="form-check-input" id="Ascendens_check" name="Ascendens_check" type="checkbox" value="Ascendens" /> <label for="Ascendens_check">Ascendens</label>
                                    <input class="form-check-input" id="Zäkum_check" name="Zäkum_check" type="checkbox" value="Zäkum" /> <label for="Zäkum_check">Zäkum</label>
                                    <input class="form-check-input" id="Rektosigmoid_check" name="Rektosigmoid_check" type="checkbox" value="Rektosigmoid" /> <label for="Rektosigmoid_check">Rektosigmoid</label>
                                </span>
                            </div>
                            <div class="form-group">
                                <input class="form-check-input" id="crlm_met_syn_check" name="crlm_met_syn_check" onchange="showInputField('crlm_met_syn_check','crlm_met_syn_field')" type="checkbox" value="1" />
                                <label for="crlm_met_syn_check"class="form-check-label">Synchron/Metachron</label>
                                <span class="hidden-on-default, border_box" id="crlm_met_syn_field" style="display: none;">
                                    <input class="form-check-input" id="Synchron_check" name="Synchron_check" type="checkbox" value="Synchron" /> <label for="Synchron_check">Synchron</label>
                                    <input class="form-check-input" id="Metachron_check" name="Metachron_check" type="checkbox" value="Metachron" /> <label for="Metachron_check">Metachron</label>
                                </span>
                            </div>
                            <div class="form-group">
                                <input class="form-check-input" id="bilobulär_check" name="bilobulär_check" onchange="showInputField('bilobulär_check','bilobulär_field')" type="checkbox" value="1" />
                                <label for="bilobulär_check" class="form-check-label">Bilobulär</label>
                                <span class="hidden-on-default, border_box" id="bilobulär_field" style="display: none;">
                                    <input class="form-check-input" id="bilobulär_check_yes" name="bilobulär_check_yes" type="checkbox" value="Bilobulär" />
                                    <label for="bilobulär_check_yes">Bilobulär</label>
                                    <input class="form-check-input" id="bilobulär_check_no" name="bilobulär_check_no" type="checkbox" value="Monolobulär" />
                                    <label for="bilobulär_check_no">Monolobulär</label>
                                </span>
                            </div>
                            <div class="form-group">
                                <input class="form-check-input" id="multimodal_check" name="bilobulär_check" onchange="showInputField('multimodal_check','multimodal_field')" type="checkbox" value="1" />
                                <label for="multimodal_check" class="form-check-label">Mutimodal</label>
                                <span class="hidden-on-default, border_box" id="multimodal_field" style="display: none;">
                                    <input class="form-check-input" id="multimodal_check_yes" name="multimodal_check_yes" type="checkbox" value="multimodal" />
                                    <label for="multimodal_check_yes">Mutlimodal</label>
                                    <input class="form-check-input" id="multimodal_check_no" name="multimodal_check_no" type="checkbox" value="monomodal" />
                                    <label for="multimodal_check_no">Monomodal</label>
                                </span>
                            </div>
                            <div class="form-group">
                                <input class="form-check-input" id="twostaged_check" name="twostaged_check" onchange="showInputField('twostaged_check','twostaged_field')" type="checkbox" value="1" />
                                <label for="twostaged_check" class="form-check-label">Two Staged</label>
                                <span class="hidden-on-default, border_box" id="twostaged_field" style="display: none;">
                                    <input class="form-check-input" id="twostaged_check_yes" name="twostaged_check_yes" type="checkbox" value="two_staged" />
                                    <label for="twostaged_check_yes">Two Staged</label>
                                    <input class="form-check-input" id="twostaged_check_no" name="twostaged_check_no" type="checkbox" value="singe_staged" />
                                    <label for="twostaged_check_no">Single Stage</label>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-6" style="border: 1px solid, padding = 10p;">
                        <div class="p-3 border bg-light shadow-sm overflow-auto" style="height: 400px;">
                            <h3>TNM-Klassifikation</h3>
                            <hr />
                            <div class="form-group">
                                <input class="form-check-input" id="braf_check" name="braf_check" onchange="showInputField('braf_check','braf_field')" type="checkbox" value="1" /> <label for="braf_check" class="form-check-label">BRAF</label>
                                
                                <span class="hidden-on-default, border_box" id="braf_field" style="display: none;">
                                    <input class="form-check-input" id="braf_mutiert_check" name="braf_mutiert_check" type="checkbox" value="braf_mutiert" /> <label for="braf_mutiert_check">mutiert</label>
                                    <input class="form-check-input" id="braf_wildtyp_check" name="braf_wildtyp_check" type="checkbox" value="braf_wildtyp" /> <label for="braf_wildtyp_check">wildtyp</label>
                                </span>
                            </div>
                            <div class="form-group">
                                <input class="form-check-input" id="ras_check" name="ras_check" onchange="showInputField('ras_check','ras_field')" type="checkbox" value="1" /> <label for="ras_check" class="form-check-label">RAS</label>
                                <span class="hidden-on-default, border_box" id="ras_field" style="display: none;">
                                    <input class="form-check-input" id="ras_mutiert_check" name="ras_mutiert_check" type="checkbox" value="ras_mutiert" /> <label for="ras_mutiert_check">mutiert</label>
                                    <input class="form-check-input" id="ras_wildtyp_check" name="ras_wildtyp_check" type="checkbox" value="ras_wildtyp" /> <label for="ras_wildtyp_check">wildtyp</label>
                                </span>
                            </div>
                            <div class="form-group">
                                <input class="form-check-input" id="mss_check" name="mss_check" onchange="showInputField('mss_check','mss_field')" type="checkbox" value="1" /> <label for="mss_check" class="form-check-label">Mikrosatelliten</label>
                                <span class="hidden-on-default, border_box" id="mss_field" style="display: none;">
                                    <input class="form-check-input" id="mss" name="mss" type="checkbox" value="mss" /> <label for="mss">Stabil</label><br />
                                    <input class="form-check-input" id="msi" name="msi" type="checkbox" value="msi" /> <label for="msi">Instabil</label><br />
                                </span>

                                <div class="form-group">
                                    <input class="form-check-input" id="t_check" name="t_check" onchange="showInputField('t_check','t_field')" type="checkbox" value="1" /> <label for="t_check">T</label>
                                    <span class="hidden-on-default, border_box" id="t_field" style="display: none;"><input class="form-control" id="T" max="4" min="0" name="T" placeholder="Code" type="number" /></span>
                                </div>
                                <div class="form-group">
                                    <input class="form-check-input" id="n_check" name="n_check" onchange="showInputField('n_check','n_field')" type="checkbox" value="1" /> <label for="n_check">N</label>
                                    <span class="hidden-on-default, border_box" id="n_field" style="display: none;"><input class="form-control" id="N" max="3" min="0" name="N" placeholder="Code" type="number" /></span>
                                </div>
                                <div class="form-group">
                                    <input class="form-check-input" id="m_check" name="m_check" onchange="showInputField('m_check','m_field')" type="checkbox" value="1" /> <label for="m_check">M</label>
                                    <span class="hidden-on-default, border_box" id="m_field" style="display: none;"><input class="form-control" id="M" max="1" min="0" name="M" placeholder="Code" type="number" /></span>
                                </div>
                                <div class="form-group">
                                    <input class="form-check-input" id="lk_check" name="lk_check" onchange="showInputField('lk_check','lk_field')" type="checkbox" value="1" />
                                    <label for="lk_check">Infizierte Lymphknoten</label>
                                    <span class="hidden-on-default, border_box" id="lk_field" style="display: none;"><input class="form-control" id="LK" name="LK" pattern="[1-9][0-9]*/[1-9][0-9]*" placeholder="Code" type="text" /></span>
                                </div>
                                <div class="form-group">
                                    <input class="form-check-input" id="l_check" name="l_check" onchange="showInputField('l_check','l_field')" type="checkbox" value="1" /> <label for="l_check">L</label>
                                    <span class="hidden-on-default, border_box" id="l_field" style="display: none;"><input class="form-control" id="L" max="3" min="0" name="L" placeholder="Code" type="number" /></span>
                                </div>
                                <div class="form-group">
                                    <input class="form-check-input" id="v_check" name="v_check" onchange="showInputField('v_check','v_field')" type="checkbox" value="1" /> <label for="v_check">V</label>
                                    <span class="hidden-on-default, border_box" id="v_field" style="display: none;"><input class="form-control" id="V" max="3" min="0" name="V" placeholder="Code" type="number" /></span>
                                </div>
                                <div class="form-group">
                                    <input class="form-check-input" id="r_check" name="r_check" onchange="showInputField('r_check','r_field')" type="checkbox" value="1" /> <label for="r_check">R</label>
                                    <span class="hidden-on-default, border_box" id="r_field" style="display: none;"><input class="form-control" id="R" max="3" min="0" name="R" placeholder="Code" type="number" /></span>
                                </div>
                                <div class="form-group">
                                    <input class="form-check-input" id="g_check" name="g_check" onchange="showInputField('g_check','g_field')" type="checkbox" value="1" /> <label for="g_check">G</label>
                                    <span class="hidden-on-default, border_box" id="g_field" style="display: none;"><input class="form-control" id="G" max="4" min="1" name="G" placeholder="Code" type="number" /></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-100 gy-4"></div>
                    <div class="col-6" style="border: 1px solid, padding = 10p;">
                        <div class="p-3 border bg-light shadow-sm overflow-auto" style="height: 400px;">
                            <h3>Allgemeiner Zustand</h3>
                            <hr />
                            <div class="form-group">
                                <input class="form-check-input" id="last_seen_check" name="last_seen_check" onchange="showInputField('last_seen_check','last_seen_field')" type="checkbox" value="1" />
                                <label for="last_seen_check">Patient zuletzt behandelt</label>
                                <span class="hidden-on-default, border_box" id="last_seen_field" style="display: none;">
                                    <label>Von</label>
                                    <input type="date" class="form-control" id="date_fu_von" name="date_fu_von" placeholder="Datum" />
                                    <label>Bis</label>
                                    <input type="date" class="form-control" id="date_fu_bis" name="date_fu_bis" placeholder="Datum" />
                                </span>
                            </div>
                            <div class="form-group">
                                <input class="form-check-input" id="died_check" name="died_check" onchange="showInputField('died_check','died_field')" type="checkbox" value="1" />
                                <label for="died_check">Verstorben</label>
                                <span class="hidden-on-default, border_box" id="died_field" style="display: none;">
                                    <input class="form-check-input" id="died_no_check" name="died_no_check" type="checkbox" value="Alive" />
                                    <label for="died_no_check" >Nein</label>
                                    <input class="form-check-input" id="died_yes_check" name="died_yes_check" type="checkbox" value="Dead" />
                                    <label for="died_yes_check">Ja</label>
                                </span>
                            </div>
                            <div class="form-group">
                                <input class="form-check-input" id="rezidiv_check" name="rezidiv_check" onchange="showInputField('rezidiv_check','rezidiv_field')" type="checkbox" value="1" />
                                <label for="rezidiv_check">Rezidiv</label>
                                <span class="hidden-on-default, border_box" id="rezidiv_field" style="display: none;">
                                    <input class="form-check-input" id="rezidiv_check_no" name="rezidiv_check_no" type="checkbox" value="Rezidiv" />
                                    <label for="rezidiv_check_no">Nein</label>
                                    <input class="form-check-input" id="rezidiv_check_yes" name="rezidiv_check_yes" type="checkbox" value="Gesund" />
                                    <label for="rezidiv_check_yes">Ja</label>
                                </span>
                            </div>
                            <div class="form-group">
                                <input class="form-check-input" id="asa_check" name="asa_check" onchange="showInputField('asa_check','asa_field')" type="checkbox" value="1" />
                                <label for="asa_check">ASA</label>
                                <span class="hidden-on-default, border_box" id="asa_field" style="display: none;">
                                    <input class="form-check-input" id="asa_check_not_found" name="asa_check_not_found" type="checkbox" value="Nicht bestimmt" />
                                    <label>Nicht bestimmt</label>
                                    
                                    <input class="form-check-input" id="asa_check_1" name="asa_check_1" type="checkbox" value="ASA1" />
                                    <label>I</label>
                                    
                                    <input class="form-check-input" id="asa_check_2" name="asa_check_2" type="checkbox" value="ASA2" />
                                    <label>II</label>
                                    
                                    <input class="form-check-input" id="asa_check_3" name="asa_check_3" type="checkbox" value="ASA3" />
                                    <label>III</label>
                                    
                                    <input class="form-check-input" id="asa_check_4" name="asa_check_4" type="checkbox" value="ASA4" />
                                    <label>IV</label>
                                    
                                    <input class="form-check-input" id="asa_check_5" name="asa_check_5" type="checkbox" value="ASA5" />
                                    <label>V</label>
                                    
                                </span>
                            </div>
                            <div class="form-group">
                                <input class="form-check-input" id="bmi_check" name="bmi_check" onchange="showInputField('bmi_check','bmi_field')" type="checkbox" value="1" />
                                <label for="bmi_check">BMI</label>
                                <span class="hidden-on-default, border_box" id="bmi_field" style="display: none;">
                                    <label for="formGroupExampleInput2">Von</label>
                                    <input type="number" min="0" max="60" class="form-control" id="von_bmi_input" name="von_bmi_input" placeholder="BMI" />
                                    <label for="formGroupExampleInput2">Bis</label>
                                    <input type="number" min="0" max="60" class="form-control" id="bis_bmi_input" name="bis_bmi_input" placeholder="BMI" />
                                </span>
                            </div>
                            <div class="form-group">
                                <input class="form-check-input" id="alc_check" name="alc_check" onchange="showInputField('alc_check','alc_field')" type="checkbox" value="1" />
                                <label for="alc_check"> Alkohol</label>
                                <span class="hidden-on-default, border_box" id="alc_field" style="display: none;">
                                    <input class="form-check-input" type="checkbox" id="yes_alcohol_check" name="yes_alcohol_check" value="1" /> <label for="yes_alcohol_check"> Alkohol</label>
                                 
                                    <input class="form-check-input" type="checkbox" id="no_alcohol_check" name="no_alcohol_check" value="1" /> <label for="no_alcohol_check">Kein Alkohol</label>
                                </span>
                            </div>
                            <div class="form-group">
                                <input class="form-check-input" id="smoking_check" name="smoking_check" onchange="showInputField('smoking_check','smoking_field')" type="checkbox" value="1" />
                                <label for="smoking_check"> Rauchen</label>
                                <span class="hidden-on-default, border_box" id="smoking_field" style="display: none;">
                                    <input class="form-check-input" type="checkbox" id="smoking_check_yes" name="smoking_check_yes" value="1" /> <label for="smoking_check_yes">Rauchen</label>
                                    
                                    <input class="form-check-input" type="checkbox" id="smoking_check_no" name="smoking_check_no" value="1" /> <label for="smoking_check_no">Nicht Rauchen</label>
                                </span>
                            </div>
                            <div class="form-group">
                                <input class="form-check-input" id="zirrose_check" name="zirrose_check" onchange="showInputField('zirrose_check','zirrose_field')" type="checkbox" value="1" />
                                <label for="zirrose_check"> Zirrose</label>
                                <span class="hidden-on-default, border_box" id="zirrose_field" style="display: none;">
                                    <input class="form-check-input" type="checkbox" id="zirrose_check_yes" name="zirrose_check_yes" value="1" /> <label for="zirrose_check_yes">Zirrose</label>
                                    
                                    <input class="form-check-input" type="checkbox" id="zirrose_check_no" name="zirrose_check_no" value="1" /> <label for="zirrose_check_no">Keine Zirrose</label>
                                </span>
                            </div>
                            <div class="form-group">
                                <input class="form-check-input" id="diabetes_check" name="diabetes_check" onchange="showInputField('diabetes_check','diabetes_field')" type="checkbox" value="1" />
                                <label for="diabetes_check"> Diabetes</label>
                                <span class="hidden-on-default, border_box" id="diabetes_field" style="display: none;">
                                    <input class="form-check-input" type="checkbox" id="diabetes_check_yes" name="diabetes_check_yes" value="1" />  <label for="diabetes_check_yes">Diabetes</label>
                                    
                                    <input class="form-check-input" type="checkbox" id="diabetes_check_no" name="diabetes_check_no" value="1" /> <label for="diabetes_check_no">Kein Diabetes</label>
                                </span>
                            </div>
                            <div class="form-group">
                                <input class="form-check-input" id="fibrose_check" name="fibrose_check" onchange="showInputField('fibrose_check','fibrose_field')" type="checkbox" value="1" />
                                <label for="fibrose_check"> Fibrose</label>
                                <span class="hidden-on-default, border_box" id="fibrose_field" style="display: none;">
                                    <input class="form-check-input" type="checkbox" id="fibrose_check_yes" name="fibrose_check_yes" value="1" /> <label for="fibrose_check_yes">Fibrose</label>
                                   
                                    <input class="form-check-input" type="checkbox" id="fibrose_check_no" name="fibrose_check_no" value="1" /><label for="fibrose_check_no">Keine Fibrose</label>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-6" style="border: 1px solid, padding = 10p;">
                        <div class="p-3 border bg-light shadow-sm overflow-auto" style="height: 400px;">
                            <h3>Vorgeschichte</h3>
                            <hr />
							<div class="form-group">
								<input class="form-check-input" type="checkbox" id="PreviousOPs" value="1" onchange="showInputField('PreviousOPs','OPfield')">
								<label for="PreviousOPs">Vorhergegangene OPs</label>
							
								<span id="OPfield" class='hidden-on-default border_box' style="display:none;">
								<label class="form-labels">OP Code</label>
								<input class="form-control" type="text" pattern ="[0-9]-[0-9]{1,3}.[0-9a-z]" name="previous_surgery_code" id="previous_surgery_code" placeholder = "DIMDI OP Code">
								<label class="form-labels">OP Datum Von</label>
								<input class="form-control" type="date" name="previous_surgery_date_von" placeholder = "previous_surgery_date" id="previous_surgery_date_von" >
								<label class="form-labels">OP Datum Bis</label>
								<input class="form-control" type="date" name="previous_surgery_date_bis" placeholder = "previous_surgery_date" id="previous_surgery_date_bis" >
								</span>
							 </div>
							 <div class="form-group">
								<input class="form-check-input" type="checkbox" name="fs_previous_chemotherapy" id="fs_previous_chemotherapy" value="1" onchange="showInputField('fs_previous_chemotherapy','fs_Chemo_field')">
								<label for="fs_previous_chemotherapy"> Chemotherapie 1.OP</label>
							
								<span id="fs_Chemo_field" class="hidden-on-default, border_box"  style="display:none;">
									<input class="form-check-input " type="checkbox" id="fs_chemo_check_no" name="fs_chemo_check_no" value="1" /> <label for="fs_chemo_check_no">Keine Chemotherapie</label> 
								<label class="form-labels">Anzahl Zyklen Von</label>
								<input class="form-control" type="number" name="fs_previous_chemotherapy_cycles_von" id="fs_previous_chemotherapy_cycles_von" placeholder = "Zahl">
								<label class="form-labels">Anzahl Zyklen Bis</label>
								<input class="form-control" type="number" name="fs_previous_chemotherapy_cycles_bis" id="fs_previous_chemotherapy_cycles_bis" placeholder = "Zahl">
								<label class="form-labels">Medikament</label>
								<input class="form-control" type="text" name="fs_previous_chemotherapy_type" id="fs_previous_chemotherapy_type" placeholder = "Freitext">
								<label class="form-labels">Antikörper</label>
								<input class="form-control" type="text" name="fs_previous_antibody" id="fs_previous_antibody" placeholder = "Freitext">
								</span>
							 </div>
							 <div class="form-group">
								<input class="form-check-input" type="checkbox" name="ss_previous_chemotherapy" id="ss_previous_chemotherapy" value="1" onchange="showInputField('ss_previous_chemotherapy','ss_Chemo_field')">
								<label for="ss_previous_chemotherapy"> Chemotherapie 2.OP</label>
							
								<span id="ss_Chemo_field" class="hidden-on-default, border_box"  style="display:none;">
									<input class="form-check-input" type="checkbox" id="ss_chemo_check_no" name="ss_chemo_check_no" value="1" /> <label for="ss_chemo_check_no">Keine Chemotherapie</label> 
								
								<label class="form-labels">Anzahl Zyklen Von</label>
								<input class="form-control" type="number" name="ss_previous_chemotherapy_cycles_von" id="ss_previous_chemotherapy_cycles_von" placeholder = "Zahl">
								<label class="form-labels">Anzahl Zyklen Bis</label>
								<input class="form-control" type="number" name="ss_previous_chemotherapy_cycles_bis" id="ss_previous_chemotherapy_cycles_bis" placeholder = "Zahl">
								<label class="form-labels">Medikament</label>
								<input class="form-control" type="text" name="ss_previous_chemotherapy_type" id="ss_previous_chemotherapy_type" placeholder = "Freitext">
								<label class="form-labels">Antikörper</label>
								<input class="form-control" type="text" name="ss_previous_antibody" id="ss_previous_antibody" placeholder = "Freitext">
								</span>
							 </div>
							 <div class="form-group">
								<input class="form-check-input" type="checkbox" name="th_previous_chemotherapy" id="th_previous_chemotherapy" value="1" onchange="showInputField('th_previous_chemotherapy','th_Chemo_field')">
								<label for="th_previous_chemotherapy"> Chemotherapie 3.OP</label>
							
								<span id="th_Chemo_field"class="hidden-on-default, border_box"  style="display:none;">
									<input class="form-check-input" type="checkbox" id="th_chemo_check_no" name="th_chemo_check_no" value="1" /> <label for="th_chemo_check_no">Keine Chemotherapie</label> 
								
								<label class="form-labels">Anzahl Zyklen Von</label>
								<input class="form-control" type="number" name="th_previous_chemotherapy_cycles_von" id="ths_previous_chemotherapy_cycles_von" placeholder = "Zahl">
								<label class="form-labels">Anzahl Zyklen Bis</label>
								<input class="form-control" type="number" name="th_previous_chemotherapy_cycles_bis" id="th_previous_chemotherapy_cycles_bis" placeholder = "Zahl">
								<label class="form-labels">Medikament</label>
								<input class="form-control" type="text" name="th_previous_chemotherapy_type" id="th_previous_chemotherapy_type" placeholder = "Freitext">
								<label class="form-labels">Antikörper</label>
								<input class="form-control" type="text" name="th_previous_antibody" id="th_previous_antibody" placeholder = "Freitext">
								</span>
							 </div>
                        </div>
                    </div>
                    <div class="col-6" style="border: 1px solid, padding = 10p;">
                        <div class="p-3 border bg-light shadow-sm overflow-auto" style="height: 400px;">
                            <h3>Irgendwas anderes 3</h3>
                            <hr />
                            <div class="form-group"><label for="formGroupExampleInput">Example label</label> <input class="form-control" id="formGroupExampleInput" placeholder="Example input" type="text" /></div>
                            <div class="form-group"><label for="formGroupExampleInput2">Another label</label> <input class="form-control" id="formGroupExampleInput2" placeholder="Another input" type="text" /></div>
                            <div class="form-group"><label for="formGroupExampleInput">Example label</label> <input class="form-control" id="formGroupExampleInput" placeholder="Example input" type="text" /></div>
                            <div class="form-group"><label for="formGroupExampleInput">Example label</label> <input class="form-control" id="formGroupExampleInput" placeholder="Example input" type="text" /></div>
                            <div class="form-group"><label for="formGroupExampleInput">Example label</label> <input class="form-control" id="formGroupExampleInput" placeholder="Example input" type="text" /></div>
                            <div class="form-group"><label for="formGroupExampleInput">Example label</label> <input class="form-control" id="formGroupExampleInput" placeholder="Example input" type="text" /></div>
                            <div class="form-group"><label for="formGroupExampleInput">Example label</label> <input class="form-control" id="formGroupExampleInput" placeholder="Example input" type="text" /></div>
                            <div class="form-group"><label for="formGroupExampleInput">Example label</label> <input class="form-control" id="formGroupExampleInput" placeholder="Example input" type="text" /></div>
                            <div class="form-group"><label for="formGroupExampleInput">Example label</label> <input class="form-control" id="formGroupExampleInput" placeholder="Example input" type="text" /></div>
                        </div>
                    </div>
                </div>
                
                <div class="col-6" style="width: 100%;">
                    <div class="p-3 border bg-light shadow-sm overflow-auto" style="height: 400px;">
                        <h3>Datenausgabe</h3>
                        {%if htmltext%}{{htmltext}} {%endif%}
                    </div>
                </div>
                <hr />
                <input class="btn btn-secondary" name="datenausgabe" type="submit" value="Daten ausgeben" /> <input class="btn btn-secondary" type="reset" /> {%if htmltext%}
                <div class="form-group">
                    <input class="btn btn-primary" name="export" onclick="location.href='{{url_for('export_to_csv')}}';" value="Exportieren" />
                </div>
                {%endif%}
            </div>
        </form>
        {% if RenderParameters["error"] %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Fehler:</strong> {{ RenderParameters["error"] }} <button aria-label="Close" class="close" data-dismiss="alert" type="button"><span aria-hidden="true">&times;</span></button>
        </div>
        {%if overwrite %}
        <form><input class="btn btn-secondary" type="submit" value="ueberschreiben" /> {% endif %} {% endif %} {% if RenderParameters["success"] %}</form>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Erfolg:</strong> {{RenderParameters["success"]}} <button aria-label="Close" class="close" data-dismiss="alert" type="button"><span aria-hidden="true">&times;</span></button>
        </div>
        {%endif%}
        <form class="form-inline" method="post"><label for="sapidimport">Daten analysiere</label> <button class="btn btn-secondary" name="analysebutton" type="submit">Analysieren</button></form>
        {%endblock%}
    </body>
</html>
