

{% extends "base.html" %} {% block Unterschrift %}
<p>Charite zu Berlin, 2010-2021</p>
{%endblock%} {% block MainContent %}
<h3>Datenausgabe</h3>
<form action="" method="post" autocomplete="off">
  <div class="container" style="margin-left: 0">
    <div class="row row-cols-1 row-cols-lg-3 overflow-auto border" style="height:400px;">
      <div class="col-6 " style="border: 1px solid ,padding = 10px;">
        <div class="p-3 border bg-light shadow-sm overflow-auto" style="height:400px;">
          <h3>Stammdaten</h3>
          <div class="form-group">
            <label>SAP ID</label>
            <input class="form-check-input" type="checkbox" id="sapcheck" name="sapcheck" value="1" onchange="showInputField('sapcheck','sapfield')">
            <span id="sapfield" class='hidden-on-default' style="display:none;">
              <input class="form-control" type="int" name="sapid" value="{%if success%}{{""}}{{ request.form.sapid }}{%endif%}">
            </span>
          </div>
          <br>
          <div class="form-group">
            <label>Geburtsdatum</label>
            <input class="form-check-input" type="checkbox" id="geburtcheck" name="geburtcheck" value="1" onchange="showInputField('geburtcheck','geburtfield')">
            <br>
            <span id="geburtfield" class='hidden-on-default' style="display:none;">
              <label class="form-labels">Von</label>
              <input class="form-control" type="text" name="von_geburt" value="{%if success%}{{""}}{%else%}{{ request.form.geburt }}{%endif%}">
              <label class="form-labels">Bis</label>
              <input class="form-control" type="text" name="bis_geburt" value="{%if success%}{{""}} {%else%}{{ request.form.geburt }}{%endif%}">
            </span>
          </div>
          <br>
          <div class="form-group">
            <label class="form-check-label">Geschlecht</label>
            <input class="form-check-input" type="checkbox" id="sexcheck" name="sexcheck" value="1" onchange="showInputField('sexcheck','sexfield')">
            <br>
            <span id="sexfield" class='hidden-on-default' style="display:none;">
              <input class="form-check-input" type="checkbox" value ="Männlich" name = "männlichcheck" id="checkMale">
              <label for="checkMale">Männlich</label>
              <input class="form-check-input" type="checkbox" value="Weiblich" name ="weiblichcheck" id="checkFemale">
              <label for="checkFemale">Weiblich</label>
              <input class="form-check-input" type="checkbox" value="Divers" name="diverscheck" id="checkDiv">
              <label for="checkDiv">Divers</label>
            </span>
          </div>
          <br>
        </div>
      </div>
      <div class="col-6" style="border: 1px solid ,padding = 10p;">
        <div class="p-3 border bg-light shadow-sm overflow-auto" style="height:400px;">
          <h3>OP Daten</h3>
          <hr>
          <p>Lorem Ipsum.</p>
        </div>
      </div>
      <div class="col-6" style="border: 1px solid ,padding = 10p;">
        <div class="p-3 border bg-light shadow-sm overflow-auto" style="height:400px;">
          <h3>TNM-Klassifikation</h3>
          <hr>
          <div class="form-group">
            <label for="formGroupExampleInput">Example label</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput2">Another label</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput">Example label</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput">Example label</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput">Example label</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput">Example label</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput">Example label</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput">Example label</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput">Example label</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
          </div>
        </div>
      </div>
      <div class="w-100 gy-4"></div>
      <div class="col-6" style="border: 1px solid ,padding = 10p;">
        <div class="p-3 border bg-light shadow-sm overflow-auto" style="height:400px;">
          <h3>Irgendwas anderes</h3>
          <hr>
          <div class="form-group">
            <label for="formGroupExampleInput">Example label</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput2">Another label</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput">Example label</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput">Example label</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput">Example label</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput">Example label</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput">Example label</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput">Example label</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput">Example label</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
          </div>
        </div>
      </div>
      <div class="col-6" style="border: 1px solid ,padding = 10p;">
        <div class="p-3 border bg-light shadow-sm overflow-auto" style="height:400px;">
          <h3>Irgendwas anderes 2</h3>
          <hr>
          <div class="form-group">
            <label for="formGroupExampleInput">Example label</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput2">Another label</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput">Example label</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput">Example label</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput">Example label</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput">Example label</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput">Example label</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput">Example label</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput">Example label</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
          </div>
        </div>
      </div>
      <div class="col-6" style="border: 1px solid ,padding = 10p;">
        <div class="p-3 border bg-light shadow-sm overflow-auto" style="height:400px;">
          <h3>Irgendwas anderes 3</h3>
          <hr>
          <div class="form-group">
            <label for="formGroupExampleInput">Example label</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput2">Another label</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput">Example label</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput">Example label</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput">Example label</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput">Example label</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput">Example label</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput">Example label</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput">Example label</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="col-6" style="width:100%;">
      <div class="p-3 border bg-light shadow-sm overflow-auto" style="height:400px;">
        <h3>Datenausgabe</h3>
        {%if htmltext%}{{htmltext}}
        {%endif%}
      </div>
    </div>
    <hr>
    <input class="btn btn-secondary" type="submit" value="Daten ausgeben" name = "datenausgabe">
    <input class="btn btn-secondary" type="reset">
    {%if htmltext%}
    <div class="form-group">
      <input class="btn btn-primary" value="Exportieren" name="export" onclick="location.href='{{url_for('export_to_csv')}}';">
    </div>
    {%endif%}
  </div>
</form>
</div>
{% if error %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Fehler:</strong> {{ error }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span> 
  </button>
</div>
{%if overwrite %}
<input class="btn btn-secondary" type="submit" value="ueberschreiben">
{% endif %}
{% endif %}
{% if success %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Erfolg:</strong> {{success}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{%endif%}
<form class="form-inline" method="post">
  <label for="sapidimport">Daten analysiere</label>
  <button class="btn btn-secondary" type="submit" name = "analysebutton">Analysieren</button>
</form>
{%endblock%}