{% extends "base.html" %} {% block Unterschrift %}
<p>Charite zu Berlin, 2010-2021</p>
{%endblock%} {% block MainContent %}
<h3> Dateneingabe</h3>
<form action="" method="post" autocomplete="off">
  <div class="container" style="margin-left: 0">
    <div class="row row-cols-1 row-cols-lg-3">
      <div class="col-6" style="border: 1px solid ,padding = 10p;">
        <div class="p-3 border bg-light shadow-sm overflow-auto" style="height:400px;">
          <h3>Stammdaten</h3>
          <hr>
          <div class="form-group">
            <label>SAP ID</label>
            <input class="form-control" type="int" name="sapid" value="{%if success%}{{""}}{%elif import_var%}{{import_var.sapid}}{%else%}{{ request.form.sapid }}{%endif%}">
          </div>
          <br>
          <div class="form-group">
            <label>Geburtsdatum</label>
            <input class="form-control" type="text" name="geburt" value="{%if success%}{{""}}{%elif import_var%}{{import_var.geburt}} {%else%}{{ request.form.geburt }}{%endif%}">
          </div>
          <br>
          <div class="form-group">
            <label>Geschlecht</label>
            <select class="form-control form-select" name="geschlecht" selected="{%if success%}{{""}}{%elif import_var%}{{import_var.geschlecht}} {%else%}{{ request.form.geschlecht }}{%endif%}">
              <option value="Männlich">Männlich</option>
              <option value="Weiblich">Weiblich</option>
              <option value="Divers">Divers</option>
            </select>
          </div>
          <br>
        </div>
      </div>
      <div class="col-6" style="border: 1px solid ,padding = 10p;">
        <div class="p-3 border bg-light shadow-sm overflow-auto" style="height:400px;">
          <h3>Diagnose</h3>
          <hr>
          <p> 
            <div class="form-group">
              <label for="formGroupExampleInput">Diagnose Code</label>
              <input type="text" class="form-control" id="Diagnose_code1" placeholder="code">
            </div>
          <br>
          <div class="form-group">
              <label>Diagnose Code 2</label>
              <input class="form-check-input" type="checkbox" id="diagnose2_check" name="diagnose_code2" value="1" onchange="showInputField('diagnose2_check','diagnose2_field')">
              <br>
              <span id="diagnose2_field" class='hidden-on-default' style="display:none;">
                <label class="form-labels">Code</label>
                <input class="form-control" type="text" name="von_geburt" placeholder = "Code" value="{%if success%}{{""}}{%else%}{{ request.form.geburt }}{%endif%}">
              </span>
            </div>
            <br>
          <div class="form-group">
            <label for="formGroupExampleInput">Datum Erstdiagnose</label>
            <input type="text" class="form-control" id="DiagnoseDatum" placeholder="Datum">
          </div>
          <div class="form-group">
            <!--Hier noch import_var ändern, immer noch geschlecht -->
            <label>Primärlokalisation</label>
            <select class="form-control form-select" name="primärlocus" selected="{%if success%}{{""}}{%elif import_var%}{{import_var.geschlecht}} {%else%}{{ request.form.geschlecht }}{%endif%}">
              <option value="Rektum">Rektum</option>
              <option value="Sigma">Sigma</option>
              <option value="Descendens">Descendens</option>
              <option value="Transversum">Transversum</option>
              <option value="Ascendens">Ascendens</option>
              <option value="Zäkum">Zäkum</option>
              <option value="Rektosigmoid">Rektosigmoid</option>
            </select>
            <br>
          </div>
            
            <hiv> 
               <!--Hier noch import_var ändern, immer noch geschlecht --> 
              <select class="form-control form-select" name="primärlocus" selected="{%if success%}{{""}}{%elif import_var%}{{import_var.geschlecht}} {%else%}{{ request.form.geschlecht }}{%endif%}">
              <option value="Synchron">Synchron</option>
              <option value="Metachron">Metachron</option>
            </select>
            <br>
          </hiv>
          
            <hiv>
            Bilobulär <input class="form-check-input" type="checkbox" id="Bilobulär_check" name="Bilobulär" value="1">
            <br>
            Multimodal <input class="form-check-input" type="checkbox" id="Mutlimodal_check" name="Multimodal" value="1">
            <br>
            Two Staged <input class="form-check-input" type="checkbox" id="TwoStaged_check" name="TwoStaged" value="1">
            <br>
            </hiv>
           </p>
        </div>
      </div>
      <div class="col-6" style="border: 1px solid ,padding = 10p;">
        <div class="p-3 border bg-light shadow-sm overflow-auto" style="height:400px;">
          <h3>Histologie</h3>
          <hr>
          <div class="form-group">
            <!--Hier noch import_var ändern, immer noch geschlecht -->
            <label>BRAF</label>
            <select class="form-control form-select" name="BRAF" selected="{%if success%}{{""}}{%elif import_var%}{{import_var.geschlecht}} {%else%}{{ request.form.geschlecht }}{%endif%}">
              <option value="BRAFEmpty">Nicht bestimmt</option>
              <option value="BRAFmut">mutiert</option>
              <option value="BRAFwt">wildtyp</option>
            </select>
          </div>
          <div class="form-group">
            <!--Hier noch import_var ändern, immer noch geschlecht -->
            <label>RAS</label>
            <select class="form-control form-select" name="RAS" selected="{%if success%}{{""}}{%elif import_var%}{{import_var.geschlecht}} {%else%}{{ request.form.geschlecht }}{%endif%}">
              <option value="RASEmpty">Nicht bestimmt</option>
              <option value="RASmut">mutiert</option>
              <option value="RASwt">wildtyp</option>
            </select>
          </div>
          <div class="form-group">
            <!--Hier noch import_var ändern, immer noch geschlecht -->
            <label>Mikrosatelliten</label>
            <select class="form-control form-select" name="Mikrosatelliten" selected="{%if success%}{{""}}{%elif import_var%}{{import_var.geschlecht}} {%else%}{{ request.form.geschlecht }}{%endif%}">
              <option value="MSSEmpty">Nicht bestimmt</option>
              <option value="MSS">MSS</option>
              <option value="MSI">MSI</option>
            </select>
          <h5>TNM-Klassifikation</h5>
          </div>
          
         </div> 
      </div>
      <div class="col-6" style="border: 1px solid ,padding = 10p;">
        <div class="p-3 border bg-light shadow-sm overflow-auto" style="height:400px;">
          <h3>Allgemeiner Zustand</h3>
          <hr>
          <div class="form-group">
            <label for="formGroupExampleInput">Patient zuletzt behandelt</label>
            <input type="text" class="form-control" id="date_fu" placeholder="Datum">
          </div>
          <div class="form-group">
            <!--Hier noch import_var ändern, immer noch geschlecht -->
            <label>Verstorben</label>
            <select class="form-control form-select" name="Killed" selected="{%if success%}{{""}}{%elif import_var%}{{import_var.geschlecht}} {%else%}{{ request.form.geschlecht }}{%endif%}">
              <option value="dead">Ja</option>
              <option value="alive">Nein</option>
            </select>
          </div>
          <div class="form-group">
            <!--Hier noch import_var ändern, immer noch geschlecht -->
            <label>Rezidiv</label>
            <input class="form-check-input" type="checkbox" id="rezidiv_check" name="rezidiv" value="1" onchange="showInputField('rezidiv_check','rezidiv_field')">
            <br>
            <span id="rezidiv_field" class='hidden-on-default' style="display:none;">
              <label class="form-labels">Rezidiv Diagnostiziert?</label>
              <input class="form-control" type="text" name="rezidiv_date" placeholder ="Datum" value="{%if success%}{{""}}{%else%}{{ request.form.geburt }}{%endif%}">
              <label class="form-labels">Organ?</label>
              <select class="form-control form-select" name="Rezidiv_Organ" selected="{%if success%}{{""}}{%elif import_var%}{{import_var.geschlecht}} {%else%}{{ request.form.geschlecht }}{%endif%}">
                <option value="liver">Leber</option>
                <option value="Lung">Lunge</option>
                <option value="local">Lokal</option>
                <option value="Peritoneum">Peritoneum</option>
                <option value="Cerebral">Cerebral</option>
                <option value="Other">Other</option>
              </select>
            </span>
          </div>
          <div class="form-group">
             <!--Hier noch import_var ändern, immer noch geschlecht -->
            <label for="formGroupExampleInput2">ASA</label>
            <select class="form-control form-select" name="ASA_Score" selected="{%if success%}{{""}}{%elif import_var%}{{import_var.geschlecht}} {%else%}{{ request.form.geschlecht }}{%endif%}">
              <option value="ASA0">Nicht bestimmt</option>
              <option value="ASA1">I</option>
              <option value="ASA2">II</option>
              <option value="ASA3">III</option>
              <option value="ASA4">IV</option>
              <option value="ASA5">V</option>
            </select>
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput2">BMI</label>
            <input type="text" class="form-control" id="BMI" placeholder="BMI">
          </div>

          <hiv>
            <input class="form-check-input" type="checkbox" id="Alc_check" name="Alc" value="1">Alkohol 
            <br>
            Raucher <input class="form-check-input" type="checkbox" id="Smoker_check" name="Smoker" value="1">
            <br>
            Diabetiker <input class="form-check-input" type="checkbox" id="Diabetes_check" name="Diabetes" value="1">
            <br>
            Zirrose <input class="form-check-input" type="checkbox" id="Cirrosis_check" name="Cirrose" value="1">
            <br>
            Fibrose<input class="form-check-input" type="checkbox" id="Fibrose_check" name="Fibrose" value="1">
            <br>
         
          <br>
        </div>
      </div>
      <div class="col-6" style="border: 1px solid ,padding = 10p;">
        <div class="p-3 border bg-light shadow-sm overflow-auto" style="height:400px;">
          <h3>Vorgeschichte</h3>
          <hr>
          <div class="form-group">
            <label>Vorhergegangene OPs</label>
            <input class="form-check-input" type="checkbox" id="OPcheck" name="PreviousOPs" value="1" onchange="showInputField('OPcheck','OPfield')">
            <br>
            <span id="OPfield" class='hidden-on-default' style="display:none;">
              <label class="form-labels">OP Code</label>
              <input class="form-control" type="text" name="PreviousOPs_code" placeholder = "DIMDI OP Code" value="{%if success%}{{""}}{%else%}{{ request.form.geburt }}{%endif%}">
              <label class="form-labels">OP Datum</label>
              <input class="form-control" type="text" name="PreviousOPs_date" placeholder = "Datum" value="{%if success%}{{""}} {%else%}{{ request.form.geburt }}{%endif%}">
              <label class="form-labels">OP Beschreibung</label>
              <input class="form-control" type="text" name="PreviousOPs_which" placeholder = "Freitext" value="{%if success%}{{""}} {%else%}{{ request.form.geburt }}{%endif%}">
            </span>
          </div>
          <div class="form-group">
            <label> Chemotherapie</label>
            <input class="form-check-input" type="checkbox" id="Chemo_check" name="Chemo" value="1" onchange="showInputField('Chemo_check','Chemo_field')">
            <br>
            <span id="Chemo_field" class='hidden-on-default' style="display:none;">
              <label class="form-labels">Anzahl Zyklen</label>
              <input class="form-control" type="text" name="previous_chemotherapy_cycles" placeholder = "Zahl" value="{%if success%}{{""}}{%else%}{{ request.form.geburt }}{%endif%}">
              <label class="form-labels">Medikament</label>
              <input class="form-control" type="text" name="PreviousChemo_which" placeholder = "Freitext" value="{%if success%}{{""}} {%else%}{{ request.form.geburt }}{%endif%}">
              
            </span>
          </div>
         </div>

        </div>
      </div>
    </div>

    
    

  </div>
  <hr>
  <input class="btn btn-secondary" type="submit" value="Schreiben" name ="Schreiben" onclick = "input()">
  <input class="btn btn-secondary" type="reset">
</form>
{% if error %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Fehler:</strong> {{ error }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{%if overwrite %}
<input type="submit" value="ueberschreiben">
{% endif %}
{% endif %}
{% if success %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Erfolg:</strong> {{success}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{%endif%}
<form class="form-inline" method="post">
  <label for="sapidimport">Patientendaten importieren:</label>
  <input type="text" id="sapidimport" name="sapidimport" placeholder="SAP ID" name="SAPID importieren">
  <button class="btn btn-secondary" type="submit" value ="Import" onclick = "GetData" name = "Import">Importieren</button>
</form>
{%endblock%}