{% extends "base.html" %}
{% block Unterschrift %}
  <p>Charité zu Berlin, 2010-2021</p>
{%endblock%}


{% block MainContent %}


<div class="container py-3 mb-4 bg-light rounded-1 shadow-sm">
	<div class="p-3 mb-4 lc-block">
		<div class="lc-block">
			<div editable="rich">
				<h3 class="fw-bolder">Ziel</h3>
			</div>
		</div>
		<div class="lc-block col-md-12">
			<div editable="rich">
				<p >Diese Website hat zum Ziel, die Verarbeitung und Auswertung von Daten bezogen auf die Chirurgische Behandlung von Kolorektale Lebermetastasen. Hier soll es m&ouml;glich sein, Daten mithilfe des Klinik-internen Systems &quot;SAP&quot; zu generieren und zu erfassen, zu filtern, auszuwerten und zu verbreiten.&nbsp;</p>
			</div>
		</div>
	</div>
</div>
<div class="container py-3 mb-4 bg-light rounded-3 shadow-sm ">
	<div class="p-3 mb-4 lc-block">
		<div class="lc-block">
			<div editable="rich">
				<h3 class="fw-bolder ">Bedienungshinweise</h3>
			</div>
		</div>
		<div class="lc-block col-md-12">
			<div editable="rich">
        <u class="lead">Dateneingabe:</u>
   
        <p>Beachte hier bitte, dass all die Daten, die du eingibst erst gespeichert werden, wenn du unten auf Senden dr&uuml;ckst. Vorher liegen die Daten nur Lokal bei dir!&nbsp;
        
         Du kannst, falls du sp&auml;ter an einem Fall weiterarbeiten willst, dir die SAP ID aufschreiben und sp&auml;ter erneut importieren. An einer zum Nutzer zugeordneten Merkliste arbeite ich gerade.
		
		 Beachte bitte, dass du keine Sonderzeichen nutzt, also Ä wird zu AE, ß zu SS usw.
		</p>
		 
        
        <u class="lead">Datenausgabe:</u>
        
        <p>Hier kannst du nach Daten filtern und dir ausgeben lassen. Beachte bitte, dass hier nur bearbeitete F&auml;lle auftauchen.</p>
        
        <u class="lead">Datenanalyse</u>
        
        <p>Hier gibt es noch nichts zu sagen, sp&auml;ter vielleicht mal.</p>
        
        <u class="lead">Nutzerverwaltung</u>
        
        <p>Hier kannst du dein Passwort &auml;ndern. Als Administrator kannst du hier neue Nutzer erstellen und alte Entfernen. Beachte bitte, dass die Tabelle nicht immer gleich Aktualisiert und es vielleicht l&auml;nger dauern k&ouml;nnte.</p>
        
			</div>
		</div>
	</div>
</div>
<div class="container py-3 mb-4 bg-light rounded-3 shadow-sm ">
	<div class="p-3 mb-4 lc-block">
		<div class="lc-block">
			<div editable="rich">
				<h3 class="fw-bolder ">N&uuml;tzliche Links</h3>
			</div>
		</div>
		<div class="lc-block col-md-12">
			<div editable="rich">
        <p>Lebersegmente:&nbsp;<a href="https://o.quizlet.com/WZQdIgDTgnk0JPmclYOhtw.jpg">https://o.quizlet.com/WZQdIgDTgnk0JPmclYOhtw.jpg</a></p>
   
        <p>Zeitrechner:&nbsp;<a href="https://www.topster.de/kalender/zeitrechner.php">https://www.topster.de/kalender/zeitrechner.php</a></p>
        
        <p>DIMDI OP Codes:&nbsp;<a href="https://www.dimdi.de/static/de/klassifikationen/ops/kode-suche/opshtml2022/block-5-42...5-54.htm">https://www.dimdi.de/static/de/klassifikationen/ops/kode-suche/opshtml2022/block-5-42...5-54.htm</a></p>
        
			</div>
		</div>
	</div>
</div>
<div class="container py-3 mb-4 bg-light rounded-3 shadow-sm ">
	<div class="p-3 mb-4 lc-block">
		<div class="lc-block">
			<div editable="rich">
				<h3 class="fw-bolder ">Testphase</h3>
			</div>
		</div>
		<div class="lc-block col-md-12">
			<div editable="rich">
				<p>Diese Website befindet sich gerade noch in der Testphase. Bitte rechne mit Bugs, Fehlern, Abst&uuml;rzen und gr&ouml;&szlig;eren Komplikationen. Ich versuche wann immer es m&ouml;glich ist als technischer Support zur Seite zu stehen. Bei Fragen und Feedback wende dich jeder Zeit gerne an mich:</p>
   
   <p><a href="mailto:mail@hannesfreitag.de">mail@hannesfreitag.de</a></p>
   
   <p><a href="mailto:hannes.freitag@charite.de">hannes.freitag@charite.de</a></p>
   
   <p>Hier findest du den Aktuellen Stand der Entwicklung:&nbsp;<a href="https://github.com/OptiTheNext/mCRC-DB/projects/1">https://github.com/OptiTheNext/mCRC-DB/projects/1</a></p>
   
   <p>Falls du einen Fehler findest, kannst du ihn bei mir &uuml;ber dieses Google Docs melden:</p>
   
   <p><a href="https://docs.google.com/forms/d/e/1FAIpQLSft7QTs4NcGNOt6tbMNtA84l1DwFhTNRKP8mwhTe_9bhJgRtg/viewform?usp=sf_link">https://docs.google.com/forms/d/e/1FAIpQLSft7QTs4NcGNOt6tbMNtA84l1DwFhTNRKP8mwhTe_9bhJgRtg/viewform?usp=sf_link</a></p>
   
   <p>Ich werde mich dann schnellst m&ouml;hlich darum k&uuml;mmern und versuchen den Fehler auszumerzen. Falls der Fehler schwerwiegend sein sollte, melde dich gerne sofort bei mir!&nbsp;</p>
   
			</div>
		</div>
	</div>
</div>
{%endblock%}



