{% extends "base.html" %}
{% block Unterschrift %}
    <p>Charité zu Berlin, 2010-2021</p>
{% endblock %}


{% block MainContent %}
<!--
<div class="confetti">
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
</div>


    <div class="container py-3 mb-4 bg-light rounded-1 shadow-sm">
        <div class="p-3 mb-4 lc-block">
            <div class="lc-block">
                <h3 class="fw-bolder">  &#127873; Datenbank zum Kolorektalem Karzinom wird 1 Jahr alt. &#127881;</h3>
            </div>
            <div class="lc-block col-md-12">
                <p>Die Datenbank befindet sich nun schon seit über einem Jahr in Entwicklung. Sie werden so schnell groß...</p>
            </div>
        </div>
    </div>
-->
    <div class="container py-3 mb-4 bg-light rounded-1 shadow-sm">
        <div class="p-3 mb-4 lc-block">
            <div class="lc-block">
                <h3 class="fw-bolder">Ziel: {% if RenderParameters["Pat_To_Do"] %} 
                    {{ RenderParameters["Pat_To_Do"] }} {% endif %} </h3>
            </div>
            <div class="lc-block col-md-12">
                <p>Die Website dient der Etablierung einer Datenbank und einer Eingabemaske zur Erhebung von patientenbezogenen Daten im Rahmen der Erfassung von Patienten nach Resektion kolorektaler Lebermetastasen.
                    Dazu wurde im Netz der Charité eine Maria-Datenbank aufgesetzt. Über die Eingabeseite werden durch einen strukturierten Fragebogen fehlerarm und zügig Daten aus dem SAP-System der Charité zur Erfassung von Patientendaten erhoben,
                     Ausgabe-Seite und Analyse-Seite sollen den Umgang mit den Patientendaten und deren Analyse im Rahmen wissenschaftlicher Fragestellen beschleunigen.
                      Die Website verfügt über ein Nutzersystem und stellt so Zugriff und Datenschutz sicher und unterstützt bei der Verwaltung von Daten, ohne dass der Nutzer auf externe Lösungen angewiesen ist.</p>
            </div>
        </div>
    </div>
    <div class="container py-3 mb-4 bg-light rounded-3 shadow-sm ">
        <div class="p-3 mb-4 lc-block">
            <div class="lc-block">
                <h3 class="fw-bolder ">Bedienungshinweise</h3>
            </div>
            <div class="lc-block col-md-12">
                <u class="lead">Dateneingabe:</u>
                <p>Beachte hier bitte, dass all die Daten, die du eingibst erst gespeichert werden, wenn du unten auf
                   Senden dr&uuml;ckst. Vorher liegen die Daten nur Lokal bei dir!&nbsp;

                   Du kannst, falls du sp&auml;ter an einem Fall weiterarbeiten willst, dir die SAP ID aufschreiben und
                   sp&auml;ter erneut importieren. 

                   Beachte bitte, dass du keine Sonderzeichen nutzt, also Ä wird zu AE, ß zu SS usw. Auch sind Doppelpunkte und Semikolons zu vermeiden.
                </p>

                <u class="lead">Datenausgabe:</u>
                <p>Hier kannst du nach Daten filtern und dir ausgeben lassen. Beachte bitte, dass hier nur bearbeitete F&auml;lle
                   auftauchen.</p>
                <u class="lead">Datenanalyse</u>
                <p>Hier kannst du einfache Statistische Analysen durchführen. Falls der ausgewählte Datentyp nicht im Test verwendet werden kann, wird dieser nicht ausgeführt, taucht somit auch nicht in der 
                    Auswertung auf. 
                </p>
                <u class="lead">Nutzerverwaltung</u>
                <p>Hier kannst du dein Passwort &auml;ndern. Als Administrator kannst du hier neue Nutzer erstellen und
                   alte entfernen. Beachte bitte, dass die Tabelle nicht immer gleich aktualisiert wird und es
                   vielleicht l&auml;nger dauern k&ouml;nnte.</p>
            </div>
        </div>
    </div>
    <div class="container py-3 mb-4 bg-light rounded-3 shadow-sm ">
        <div class="p-3 mb-4 lc-block">
            <div class="lc-block">
                <h3 class="fw-bolder ">N&uuml;tzliche Links</h3>
            </div>
            <div class="lc-block col-md-12">
                <p>Lebersegmente:&nbsp;<a href="https://o.quizlet.com/WZQdIgDTgnk0JPmclYOhtw.jpg">https://o.quizlet.com/WZQdIgDTgnk0JPmclYOhtw.jpg</a>
                </p>

                <p>Zeitrechner:&nbsp;<a href="https://www.topster.de/kalender/zeitrechner.php">https://www.topster.de/kalender/zeitrechner.php</a>
                </p>

                <p>DIMDI OP Codes:&nbsp;<a
                        href="https://www.dimdi.de/static/de/klassifikationen/ops/kode-suche/opshtml2022/block-5-42...5-54.htm">https://www.dimdi.de/static/de/klassifikationen/ops/kode-suche/opshtml2022/block-5-42...5-54.htm</a>
                </p>

            </div>
        </div>
    </div>
    <!--
    <div class="container py-3 mb-4 bg-light rounded-3 shadow-sm ">
        <div class="p-3 mb-4 lc-block">
            <div class="lc-block">
                <h3 class="fw-bolder ">Testphase</h3>
            </div>
            <div class="lc-block col-md-12">
                <p>Diese Website befindet sich gerade noch in der Testphase. Bitte rechne mit Bugs, Fehlern, Abst&uuml;rzen
                   und gr&ouml;&szlig;eren Komplikationen. Ich versuche, wann immer es m&ouml;glich ist, als
                   technischer Support zur Seite zu stehen. Bei Fragen und Feedback wende dich jederzeit gerne an
                   mich:</p>
                <p><a href="mailto:mail@hannesfreitag.de">mail@hannesfreitag.de</a></p>
                <p><a href="mailto:hannes.freitag@charite.de">hannes.freitag@charite.de</a></p>
                <p>Hier findest du den aktuellen Stand der Entwicklung:&nbsp;<a
                        href="https://github.com/OptiTheNext/mCRC-DB/projects/1">https://github.com/OptiTheNext/mCRC-DB/projects/1</a>
                </p>
                <p>Falls du einen Fehler findest, kannst du ihn bei mir &uuml;ber dieses Google Docs melden:</p>
                <p>
                    <a href="https://docs.google.com/forms/d/e/1FAIpQLSft7QTs4NcGNOt6tbMNtA84l1DwFhTNRKP8mwhTe_9bhJgRtg/viewform?usp=sf_link">https://docs.google.com/forms/d/e/1FAIpQLSft7QTs4NcGNOt6tbMNtA84l1DwFhTNRKP8mwhTe_9bhJgRtg/viewform?usp=sf_link</a>
                </p>
                <p>Ich werde mich dann schnellstm&ouml;glich darum k&uuml;mmern und versuchen den Fehler
                   auszumerzen. Falls der Fehler schwerwiegend sein sollte, melde dich gerne sofort bei
                   mir!&nbsp;</p>
            </div>
        </div>
    </div>-->
{% endblock %}



