{% extends "base.html" %}
{% block Unterschrift %}
  <p>Charite zu Berlin, 2010-2021</p>
{%endblock%}



{% block MainContent %}
<h3>Versionsverlauf</h3>
<hr>
<div class="container py-3 mb-4 bg-light rounded-1 shadow-sm">
	<div class="p-3 mb-4 lc-block">
		<div class="lc-block">
			<div editable="rich">
				<h3 class="fw-bolder">Beta 4: 8.04.2023</h3>
			</div>
		</div>
		<div class="lc-block col-md-12">
			<div editable="rich">
				<p > 
					- Seite Datenanalyse hinzugefügt
					<br>
					- Statistische Testverfahren (Deskriptiv, Explorativ, Tests) hinzugefügt
					<br>
					- PDF Generation hinzugefügt
					<br>
					- Fixed some bugs

				</p>
			</div>
		</div>
	</div>
</div>
<div class="container py-3 mb-4 bg-light rounded-1 shadow-sm">
	<div class="p-3 mb-4 lc-block">
		<div class="lc-block">
			<div editable="rich">
				<h3 class="fw-bolder">Beta 3: 22.01.2023</h3>
			</div>
		</div>
		<div class="lc-block col-md-12">
			<div editable="rich">
				<p > 
                    - Einrichten eine Backup-Systems der Back-End Tabelle
					<br>
					- Neue Funktionen zur Datenverwaltung für Administratoren hinzugefügt
					<br>
					- Subtraktive Suchmethode zur Datenausgabe hinzugefügt
					<br>
					- Udpated Bootstrap
					<br>
					- Fixed some bugs

				</p>
			</div>
		</div>
	</div>
</div>

<div class="container py-3 mb-4 bg-light rounded-1 shadow-sm">
	<div class="p-3 mb-4 lc-block">
		<div class="lc-block">
			<div editable="rich">
				<h3 class="fw-bolder">Beta 2: 25.10.2022</h3>
			</div>
		</div>
		<div class="lc-block col-md-12">
			<div editable="rich">
				<p > - Installation des SSL-Zertifikates. Die Website ist nun über das HTTPS-Protokoll zu ereichen
                    <br>
					- Update des Nutzersystems zum Versenden der Passwort-Mail über die Charite-Eigene Emailadresse: mcrc-db@charite.de
					
                </p>
			</div>
		</div>
	</div>
</div>

<div class="container py-3 mb-4 bg-light rounded-1 shadow-sm">
	<div class="p-3 mb-4 lc-block">
		<div class="lc-block">
			<div editable="rich">
				<h3 class="fw-bolder">Beta 1: 15.7.2022</h3>
			</div>
		</div>
		<div class="lc-block col-md-12">
			<div editable="rich">
				<p > - Große Fehlerbehebung
                    <br>
                    - Aufsetzen des Systems im Charité Netzwerk
                    <br>
                    - Aufsetzen der Charité-Datenbank
                    <br> 
                    - Erste Testphase mit "Scharfen Daten"
                    <br>
                    - Aufbereitung und übernahme bereits vorhandener Daten in einer Exceltabelle 
                </p>
			</div>
		</div>
	</div>
</div>
<hr>
<div class="container py-3 mb-4 bg-light rounded-1 shadow-sm">
	<div class="p-3 mb-4 lc-block">
		<div class="lc-block">
			<div editable="rich">
				<h3 class="fw-bolder">Alpha 5: 10.7.2022</h3>
            
			</div>
		</div>
		<div class="lc-block col-md-12">
			<div editable="rich">
				<p>- Hinzufügen eines Nutzersystems
                    <br>
                    - Einfügen eines Passwortverwaltungssystems
                    <br>
                    - Einfügen eines Registrierungssystems
                    <br>
                    - Fehlerbehebung
                    <br>
                    - Update des Aussehens
                </p>
			</div>
		</div>
	</div>
</div>
<div class="container py-3 mb-4 bg-light rounded-1 shadow-sm">
	<div class="p-3 mb-4 lc-block">
		<div class="lc-block">
			<div editable="rich">
				<h3 class="fw-bolder">Alpha 4: 26.5.2022</h3>
                <p>- Erste Implimentation der Ausgabefunktion
                    <br>
                    - Update des Aussehens
                    <br>
                    - Möglichkeit des Dateiexportes als .csv
                    <br>
                    - Fehlerbehebung vorheriger Funktionalitäten
                </p>
			</div>
		</div>
		<div class="lc-block col-md-12">
			<div editable="rich">
				<p ></p>
			</div>
		</div>
	</div>
</div>
<div class="container py-3 mb-4 bg-light rounded-1 shadow-sm">
	<div class="p-3 mb-4 lc-block">
		<div class="lc-block">
			<div editable="rich">
				<h3 class="fw-bolder">Alpha 3: 9.4.2022</h3>
			</div>
		</div>
		<div class="lc-block col-md-12">
			<div editable="rich">
				<p >- Erste Funktionalität durch Einfügen der Eingabefunktion
                    <br>
                    - Update des Aussehens
                    <br>
                    - Indviduelle Eingabefelder
                    <br>
                    - Unterstützung von Umgebungsvariablen
                    <br>
                    - Erste Funktionalität der Importfunktion
                </p>
			</div>
		</div>
	</div>
</div>
<div class="container py-3 mb-4 bg-light rounded-1 shadow-sm">
	<div class="p-3 mb-4 lc-block">
		<div class="lc-block">
			<div editable="rich">
				<h3 class="fw-bolder">Alpha 2: 25.3.2022</h3>
                <p>Verbesserung des Allgemeinen Aussehens</p>
			</div>
		</div>
		<div class="lc-block col-md-12">
			<div editable="rich">
				<p ></p>
			</div>
		</div>
	</div>
</div>
<div class="container py-3 mb-4 bg-light rounded-1 shadow-sm">
	<div class="p-3 mb-4 lc-block">
		<div class="lc-block">
			<div editable="rich">
				<h3 class="fw-bolder">Alpha 1: 14.3.2022</h3>
			</div>
		</div>
		<div class="lc-block col-md-12">
			<div editable="rich">
				<p >Erste Version der Website, keine Funktionalität</p>
			</div>
		</div>
	</div>
</div>
<!--
<hr>
Test für Versionen aus DB

{% if versions_html %} {{ versions_html }} {% endif %}

<script>
function on() {
  document.getElementById("overlay").style.display = "block";
}

function off() {
  document.getElementById("overlay").style.display = "none";
}
</script>

<div id="overlay">
	<form>
	<div class="container py-3 mb-4 bg-light rounded-1 shadow-sm ">
		<div class="row">
			<div class="lc-block">
				<div editable="rich">
					<h3 class="fw-bolder">Neuen Eintrag erstellen</h3>
				</div>
			</div>
			<div class="lc-block col-md-12">
				<div editable="rich">
					<label>Name des Updates</label>
					<input type="text" class="form-control" name="update_name" id="update_name" placeholder="Name">
					<br>
					<label  data-toggle="tooltip"
					data-placement="right"
					title="Inhalt des Updates durch Komma trennen um einzelne Stichpunkte zu erzeugen"
					animation="true" html="true">Inhalt des Updates</label>
					<input type="text" class="form-control" name="update_inhalt" id="update_inhalt" placeholder="Name">
					<br>
					<input class="btn btn-secondary" name="submit_update" type="submit" value="Hinzufügen" onclick="off(); submit()">

				</div>
			</div>
		</div>
	</div>
</div>
</form>

<button onclick="on()">Turn on overlay effect</button>
-->

  {%endblock%}

  