{% extends "base.html" %}


{% block MainContent %}
    <h3>Verwaltung</h3>
    <form action="" method="post" autocomplete="off" enctype="multipart/form-data">
    <div class="container-fluid pe-6" style="margin-left: 0">
    {% if RenderParameters["Admin"] %}
                <div class="row row-cols-1 row-cols-lg-3">
                    <div class="col-6" style="padding: 10px;">
                        <div class="p-3 border bg-light shadow-sm overflow-auto" style="height:400px;">
                            <h3>Nutzer erstellen</h3>
                            <hr>
                            <div class="form-group">
                                <label for="username">Name</label>
                                <input class="form-control" type="text" name="username" id="username">
                                <label for="mailadress">Email</label>
                                <input class="form-control" type="email" name="mailadress" id="mailadress">
                            </div>
                            <br>
                            <div class="form-group">
                                <label for="admin_select">Nutzertyp</label>
                                <select class="form-control form-select" name="admin_select" id="admin_select">
                                    <option value="Admin">Administrator</option>
                                    <option value="Normal">Normaler Nutzer</option>
                                </select>
                            </div>
                            <br>
                            <input class="btn btn-outline-primary" type="submit" value="Nutzer erstellen" name="create_user" id="create_user">
                            <br> 
                        </div>
                    </div>
                    <div class="col-6" style="padding: 10px;">
                        <div class="p-3 border bg-light shadow-sm overflow-auto" style="height:400px;">
                            <h3>Nutzer entfernen</h3>
                            <hr>
                            <label for="delete_username">Name</label>
                            <input class="form-control" type="text" name="delete_username" id="delete_username">
                            <br>
                            <input class="btn btn-outline-primary" type="submit" value="Nutzer entfernen" name="delete_user">
                        </div>
                    </div>
                    <div class="col-6" style="padding: 10px;">
                        <div class="p-3 border bg-light shadow-sm overflow-auto" style="height:400px;">
                            <h3>Verwalten</h3>
                            <hr>
                            {% if RenderParameters["htmltext"] %}
                                {{ RenderParameters["htmltext"] }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-6" style="padding: 10px;">
                        <div class="p-3 border bg-light shadow-sm overflow-auto" style="height:400px;">
                            <h3>ID hinzufügen</h3>
                            <hr>
                            <label for="id_to_add">ID</label>
                            <input class="form-control" type="number" name="id_to_add" id="id_to_add">
                            <br>
                            <input class="btn btn-outline-primary" type="submit" value="add id" name="add_id_to_db">
                        </div>
                    </div>
                    <div class="col-6" style="padding: 10px;">
                        <div class="p-3 border bg-light shadow-sm overflow-auto" style="height:400px;">
                            <h3>Gelöschte IDs</h3>
                            <hr>
                            {% if RenderParameters["deleted_ids"] %}
                                {{ RenderParameters["deleted_ids"] }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-6" style="padding: 10px;">
                        <div class="p-3 border bg-light shadow-sm overflow-auto" style="height:400px;">
                            <h3>Upload von neuen IDs</h3>
                            <hr>
                            <input class="form-control" type="file" name="file" id="file" data-toggle="tooltip"
                            data-placement="right"
                            title="Es muss sich um eine CSV Datei Handeln, mit einer Spalte die mit 'pat_id' betitelt ist"
                            animation="true" html="true">
                            <br>
                            <input class="btn btn-outline-primary" type="submit">
                        </div>
                    </div>
                </div>
    {% endif %}
    {% if RenderParameters["Admin"] != Admin %}
    <div class="row row-cols-1 row-cols-lg-3">
    {% endif %}
        <div class="col-6" style="padding: 10px;">
            <div class="p-3 border bg-light shadow-sm overflow-auto" style="height:400px;">
                <h3>Password ändern</h3>
                <hr>
                <label for="current_password">Momentanes Passwort</label>
                <input class="form-control" type="password" name="current_password" id="current_password">
                <br>
                <label for="new_password">Neues Passwort</label>
                <input class="form-control" type="password" name="new_password" id="new_password">
                <br>
                <input class="btn btn-secondary" type="submit" value="Passwort ändern" name="change_pwd">
            </div>
        </div>
    {% if RenderParameters["Admin"] != Admin %} 
    </div>
    </div>
    {% endif %}


    </form>

    {% if RenderParameters["error"] %}
        <div class="alert alert-danger" role="alert">
            <strong>Fehler:</strong> {{ RenderParameters["error"] }}
        </div>
    {% endif %}
    {% if RenderParameters["success"] %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Erfolg:</strong> {{ RenderParameters["success"] }}
        </div>
    {% endif %}
{% endblock %}